<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Samdos Express Technology</title>
  <link rel="stylesheet" href="./stylesheets/css/style.css">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link href="stylesheets/css/bootstrap.min.css" rel="stylesheet">
  <link href="stylesheets/css/mdb.min.css" rel="stylesheet">
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <link rel="stylesheet" href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,700">
        <link rel="stylesheet" href="stylesheets/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="stylesheets/css/animate.css">
        <link rel="stylesheet" href="stylesheets/css/media-queries.css">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">      
        <link rel="stylesheet" type="text/css" href="stylesheets/css/switcher.css" media="screen" />
        <link rel="stylesheet" href="stylesheets/css/fractionslider.css"/>
        <link rel="stylesheet" href="stylesheets/css/style-fraction.css"/>
</head>
<body>
  <main>
    <div class="my-body">
        <nav>
            <center class="sam"> <br>
              <h1 class="display-4 font-weight-bold edit-samdos">Samdos Express Technology</h1>
              <h1 class="blue-text">Electronic Past Questions and Answers</h1> <br>
              <h4><a href="/" class="white-text blue p-3 mb-5">Go Home</a></h4> <br>
            </center>
          </nav>

      <main class="containers">
        <div class="document-page container">
          <div>
            <center class="my-5">
              <h1 class="display-4">Computer Architecture II <br> CSC 320 2016/2017</h1>
              <h1>QUESTION 3</h1>
            </center>
          </div>
          <div class="container">
            <p>1 - What is the defination of Computer Science in the world of Technology?</p>
            <p>2 - What is the defination of Computer Science in the world of Technology?</p>
            <p>3 - What is the defination of Computer Science in the world of Technology?</p>
            <p>4 - What is the defination of Computer Science in the world of Technology?</p>
            <p>5 - What is the defination of Computer Science in the world of Technology?</p>
              <h1 class="mb-4">Answer</h1>
            <p align="justify">
              This document sets out the process and guidelines for applying for Events Sponsorship from the Lagos State Employment Trust Fund (LSETF) under Lagos Innovates. These Application Guidelines should be read in conjunction with information provided on the Lagos Innovates website, including Frequently Asked Questions about the Events Sponsorship program. Please read this information carefully before you fill out your application. 
            </p>
            
            <p align="justify">
              Lagos Innovates offers co-sponsorship for events and activities that are aimed at supporting network-building, knowledge-sharing, collaboration and marketing for Lagos-based founders and startups. We understand that these ecosystem-building initiatives are important for value-creation within the Lagos tech ecosystem, and believe that they are an important way to propagate specific tech- or innovation-focused entrepreneurial learning and development.
            </p>
          </div>

          <div>
                <center class="my-5">
                  <h1>QUESTION 4</h1>
                </center>
              </div>
              <div class="container">
                <p>1 - What is the defination of Computer Science in the world of Technology?</p>
                <p>2 - What is the defination of Computer Science in the world of Technology?</p>
                <p>3 - What is the defination of Computer Science in the world of Technology?</p>
                <p>4 - What is the defination of Computer Science in the world of Technology?</p>
                <p>5 - What is the defination of Computer Science in the world of Technology?</p>
                  <h1 class="mb-4">Answer</h1>
                <p align="justify">
                  This document sets out the process and guidelines for applying for Events Sponsorship from the Lagos State Employment Trust Fund (LSETF) under Lagos Innovates. These Application Guidelines should be read in conjunction with information provided on the Lagos Innovates website, including Frequently Asked Questions about the Events Sponsorship program. Please read this information carefully before you fill out your application. 
                </p>
                
                <p align="justify">
                  Lagos Innovates offers co-sponsorship for events and activities that are aimed at supporting network-building, knowledge-sharing, collaboration and marketing for Lagos-based founders and startups. We understand that these ecosystem-building initiatives are important for value-creation within the Lagos tech ecosystem, and believe that they are an important way to propagate specific tech- or innovation-focused entrepreneurial learning and development.
                </p>
              </div>
            <div>
              <center>
                  <button type="button" class="btn btn-outline-purple p-4 mb-5" data-toggle="modal" data-target="#basicExampleModal" style="font-size: 15px;">NEXT PAGE</button>
              </center>
            </div>

      <div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h3 class="modal-title" id="exampleModalLabel">SAMDOS EXPRESS TECHNOLOGY</h3>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="container">
                <div class="modal-body">
                    <h3 class="red p-4 white-text">To continue, kindly provide the pin below</h3>
                  <center class="my-5">
                        <label for="label" class="h2">Enter Pin Here</label><br>
                        <input type="number" maxlength="8" name="pin-name" id="userPin" class="p-3"><br>
                        <button type="button" value="Proceed" class="btn p-3 mt-3 purple white-text" style="font-size: 15px;" onclick="getPinCss320161756()">Proceed</button> 

                        <div class="alert alert-danger my-3 disable-div text-center" id="danger" role="alert">
                          <p id="print-error" style="text-align: center;"></p>
                          </div>
                  </center>
    
                  <div class="accordion" id="accordionExample">
                     <h2 class="text-center"> Don't have a Pin? <a href="" data-toggle="collapse" data-target="#collapseOne"
                      aria-expanded="false" aria-controls="collapseOne" >Get it Here...</a></h2>
    
                     <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                          <p>
                            To get your pin which will last for 48hrs, a fee of $0.27 (#100) is issued.
                            <ol>
                              <li> <p>Payment can be made through Recharge Vouchers (MTN, AIRTEL), to the Mobile Numbers Below</p> </li>
                              <li><p>+234-817-385-606-4 (SMS only)</p></li>
                              <li><p>You will receive and SMS/EMAIL of your pin after 15mins of Verification</p></li>
                              <li><p>Note that the Pin expires after certain Number of Input before the exceeding Time. Maximum time is 48hrs</p></li>
                            </ol>
                          </p>
                          <p>Best Regards,<br>From <br>
                            Asst. CEO, Samdos Express Technology <br> Olabayo Segun Emmanuel
                          </p>
                        </div>
                      </div>
                  </div>
                </div>
            </div>

          </div>
        </div>
      </div>



        </div>
      </main>
<br>
     

    </div>
  </main>

  
  <footer class="my-5">
      <center>
          <h4 class="blue-text">© Copyright 2019<a href="http://samdos.herokuapp.com" class="red-text"> - Sheygun Techonology</a></h4>
      </center>
  </footer>
</body>








 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
 <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
 <script type="text/javascript" src="stylesheets/js/jquery.mapin.js"></script>
   <script type="text/javascript" src="stylesheets/js/jquery-3.3.1.min.js"></script>
   <script type="text/javascript" src="stylesheets/js/popper.min.js"></script>
   <script type="text/javascript" src="stylesheets/js/bootstrap.min.js"></script>
   <script type="text/javascript" src="stylesheets/js/mdb.min.js"></script>
   <script src="stylesheets/js/jquery-1.11.1.min.js"></script>
         <script src="stylesheets/bootstrap/js/bootstrap.min.js"></script>
         <script src="stylesheets/js/jquery.backstretch.min.js"></script>
         <script src="stylesheets/js/wow.min.js"></script>
         <script src="stylesheets/js/retina-1.1.0.min.js"></script>
         <script src="stylesheets/js/scripts.js"></script>
         <script type="text/javascript" src="stylesheets/js/jquery.cookie.js"></script>
 <script type="text/javascript" src="stylesheets/js/styleswitch.js"></script> 
 <script src="stylesheets/js/jquery.fractionslider.js" type="text/javascript" charset="utf-8"></script>
 <script type="text/javascript" src="stylesheets/js/jquery.smartmenus.min.js"></script>
 <script type="text/javascript" src="stylesheets/js/jquery.smartmenus.bootstrap.min.js"></script>
 <script type="text/javascript" src="stylesheets/js/owl.carousel.min.js"></script>
 <script type="text/javascript" src="stylesheets/js/jflickrfeed.js"></script>
 <script type="text/javascript" src="stylesheets/js/jquery.magnific-popup.min.js"></script>
 <script type="text/javascript" src="stylesheets/js/jquery.isotope.min.js"></script>
 <script type="text/javascript" src="stylesheets/js/jquery.easypiechart.min.js"></script>
 <script type="text/javascript" src="stylesheets/js/swipe.js"></script>
 <script type="text/javascript" src="stylesheets/js/jquery-scrolltofixed-min.js"></script>
 <script src="stylesheets/js/SmoothScroll.min" type="text/javascript"></script>
 <script type="text/javascript" src="stylesheets/js/jquery.matchHeight-min.js"></script>
 <script src="stylesheets/js/SmoothScroll.min.js" type="text/javascript"></script>
 <script src="stylesheets/js/main.js"></script>
 <script src="stylesheets/js/javascript.js"></script>
</html>