<!DOCTYPE html>
<html lang="en">

  <%- include partial/head %>
  <style>
  td{
    font-size: 11px;
  }
  </style>
<body class="bk-design">
    <main class="opaque">
    <%- include partial/navbar %> <br>

     <div class="container">
        <div style="margin-top: 120px;">


                        <div class="">
                            <div style="margin-top: 120px;">

                            <div class="white p-3" style="border-radius: 15px;">
                                <div class="mt-5">
                                    <div class="mb-5">
                                        <center>
                                            <h6 class="font-weight-bold" style="font-size: 15px;">LAGOS STATE UNIVERSITY</h6>
                                            <h3 class="font-weight-bold" style="font-size: 11px;">FACULTY OF SCIENCE</h3>
                                            <h4 class="font-weight-bold" style="font-size: 11px;">PROVISIONAL 2018/2019 FIRST SEMESTER EXAMINATION TIMETABLE</h4>
                                            <h4 class="font-weight-bold" style="font-size: 11px;">COMPUTER SCIENCE 400 LEVEL</h4>
                                            <h5 class="font-weight-bold mt-3" style="font-size: 11px;">Posted By Amusu Joshua (HOC)</h5>
                                            <h3  style="font-size: 11px;">Click Course to see the Course Units, Course Title and Lecturer</h3>
                                        </center>
                                    </div>

                                  <div class="table-responsive">
                                      <table class="table table-bordered table-hover text-center">
                                          <thead>
                                            <tr>
                                              <th scope="col" class="h6">DAY/TIME</th>
                                              <th scope="col" class="h6">8:00 AM - 11:00 AM</th>
                                              <th scope="col" class="h6">11:30 AM - 2:30 PM</th>
                                              <th scope="col" class="h6">3:00 PM - 6:00 PM</th>

                                            </tr>
                                          </thead>
                                          <tbody>
                                              <tr>
                                                  <th scope="row" class="h6">MONDAY <br> AUGUST 5</th>
                                                  <td style="background: rgb(149, 146, 146);"></td>
                                                  <td class="h5" onclick="alert('Lecturer \n PROCCESSING \n x Units')">CSC337</td>
                                                  <td style="background: rgb(149, 146, 146);"></td>
                                                </tr>

                                            <tr>
                                              <th scope="row" class="h6">THURSDAY <br> AUGUST 8</th>
                                              <td style="background: rgb(149, 146, 146);"></td>
                                              <td class="h5" onclick="alert('Lecturer \n MRS AKERELE \n DBMS 2 \n 3 Units')">CSC417</td>
                                              <td style="background: rgb(149, 146, 146);"></td>
                                            </tr>

                                            <tr>
                                                <th scope="row" class="h6">FRIDAY <br> AUGUST 9</th>
                                                <td style="background: rgb(149, 146, 146);"></td>
                                                <td style="background: rgb(149, 146, 146);"></td>
                                                <td class="h5" onclick="alert('Lecturer \n PROCCESSING \n x Units')">213/313</td>
                                              </tr>

                                            <tr>
                                                  <th scope="row" class="h6">WEDNESDAY <br> AUGUST 14</th>
                                                  <td class="h5" onclick="alert('Lecturer \n DR TOYIN \n SOFTWARE ENGINEERING 1 \n 3 Units')">CSC413</td>
                                                  <td style="background: rgb(149, 146, 146);"></td>
                                                  <td class="h5" onclick="alert('Lecturer \n PROCESSING \n PROCESSING 1 \n 2 Units')">CSC261</td>
                                                </tr>

                                                <tr>
                                                      <th scope="row" class="h6">FRIDAY <br> AUGUST 16</th>
                                                      <td style="background: rgb(149, 146, 146);"></td>
                                                      <td style="background: rgb(149, 146, 146);"></td>
                                                      <td class="h5" onclick="alert('Lecturer \n PROCCESSING \n x Units')">CSC419</td>
                                                    </tr>

                                                    <tr>
                                                        <th scope="row" class="h6">SATURDAY <br> AUGUST 17</th>
                                                        <td class="h5" onclick="alert('Lecturer \n PROCCESSING \n x Units')">217/317</td>
                                                        <td style="background: rgb(149, 146, 146);"></td>
                                                        <td style="background: rgb(149, 146, 146);"></td>
                                                      </tr>

                                                    <tr>
                                                          <th scope="row" class="h6">MONDAY <br> AUGUST 19</th>
                                                          <td class="h5" onclick="alert('Lecturer \n PROCCESSING \n x Units')">CSC431</td>
                                                          <td style="background: rgb(149, 146, 146);"></td>
                                                          <td style="background: rgb(149, 146, 146);"></td>
                                                        </tr>

                                                        <tr>
                                                              <th scope="row" class="h6">WEDNESDAY <br> AUGUST 21</th>
                                                              <td class="h5" onclick="alert('Lecturer \n DR ADIGUN and Others \n ARTIFICIAL INTELLIGENCE \n 3 Units')">CSC311<br>CSC437</td>
                                                              <td style="background: rgb(149, 146, 146);"></td>
                                                              <td style="background: rgb(149, 146, 146);"></td>
                                                            </tr>

                                                            <tr>
                                                                <th scope="row" class="h6">THURSDAY <br> AUGUST 22</th>
                                                                <td class="h5" onclick="alert('Lecturer \n DR TOYIN \n WEB DEVELOPMENT \n 2 Units')">CSC415</td>
                                                                <td style="background: rgb(149, 146, 146);"></td>
                                                                <td style="background: rgb(149, 146, 146);"></td>
                                                              </tr>

                                                            <tr>
                                                                  <th scope="row" class="h6">FRIDAY <br> AUGUST 23</th>
                                                              <td class="h5" onclick="alert('Lecturer \n PROCCESSING \n x Units')">CSC433</td>
                                                                  <td style="background: rgb(149, 146, 146);"></td>
                                                              <td class="h5" onclick="alert('Lecturer \n DR BOLU \n PRINCIPLE OF PROGRAMMING LANGUAGE \n 2 Units')">CSC435</td>

                                                                </tr>

                                                                <tr>
                                                                    <th scope="row" class="h6">MONDAY <br> AUGUST 26</th>
                                                                    <td style="background: rgb(149, 146, 146);"></td>
                                                                    <td style="background: rgb(149, 146, 146);"></td>
                                                                    <td class="h5" onclick="alert('Lecturer \n MR OLOYEDE \n DATA COMMUNICATION \n 3 Units')">CSC411</td>
                                                                  </tr>

                                                                <tr>
                                                                      <th scope="row" class="h6">THURSDAY <br> AUGUST 29</th>
                                                                      <td style="background: rgb(149, 146, 146);"></td>
                                                                      <td style="background: rgb(149, 146, 146);"></td>
                                                                      <td class="h5" onclick="alert('Lecturer \n PROCCESSING \n x Units')">CSC439</td>
                                                                    </tr>


                                          </tbody>
                                        </table>
                                  </div>
                                          <div>
                                              <center>
                                                  <h6 class="mt-5" style="font-weight: bold; font-size: 11px;">#AMUSU JOSHUA (HOC)</h6>
                                                  <h6 style="font-weight: bold; font-size: 11px;">#TEAM_SAMDOS</h6>
                                                  <h6 style="font-weight: bold; font-size: 11px;">#TEAM_SHEYGUN</h6>
                                                  <h5 style="font-weight: bold; font-size: 11px;"> © Copyright of Lagos State University</h5><br>
                                              </center>
                                          </div>
                                  </div>
                            </div><br><br>

                        </div>
                      </div>

      </div>

      <div class="row">
          <div class="col-md-4">
             <div>
                 <a href="https://samdos.herokuapp.com"><img src="/stylesheets/images/samdos_opt.jpg" alt="Advert" class="img-fluid mx-auto d-flex align-item-center justify-content-center"></a>
               </div>
          </div>

        <div class="col-md-4">
            <div class="my-4 free-web2 wow pulse" data-wow-iteration="1" data-wow-duration="2s" style="height: 200px;">
                <a href="https://samdosng.herokuapp.com" class=" white-text"><h4 class="text-center p-3 h5" style="transform: translateY(75px);">Samdos Express</h4></a>
            </div>
        </div>

        <div class="col-md-4">
            <div class="my-4 free-web2 wow pulse" data-wow-iteration="1" data-wow-duration="2s" style="height: 200px;">
                <a href="https://wa.me/+2348102129149" class=" white-text"><h4 class="text-center p-3 h6" style="transform: translateY(75px);">Advertise Here For <b>Free</b></h4></a>
            </div>
        </div>

     </div>

     <%- include partial/footer %> <br>
     </main>
 </body>

 <%- include partial/script %>

 </html>