<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Samdos Express Technology</title>
<!-- <link rel="shortcut icon" type="image/jpg" href="stylesheets/images/logo.jpg"/> -->
<link rel="shortcut icon" href="stylesheets/images/logo.jpg" type="imsge/jpg">
<link rel="stylesheet" href="./stylesheets/css/style.css">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link href="stylesheets/css/bootstrap.min.css" rel="stylesheet">
<link href="stylesheets/css/mdb.min.css" rel="stylesheet">
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,700">
<link rel="stylesheet" href="stylesheets/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="stylesheets/css/animate.css">
<link rel="stylesheet" href="stylesheets/css/media-queries.css">
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
<link rel="stylesheet" type="text/css" href="stylesheets/css/switcher.css" media="screen" />
<link rel="stylesheet" href="stylesheets/css/fractionslider.css"/>
<link rel="stylesheet" href="stylesheets/css/style-fraction.css"/>
</head>

<body>
<main>
<div class="my-body">
<%- include partial/navbar %>

<img src="" alt="">
<div class="container mt-5">
  <div class="row"  style="margin-top: 70px;">

    <div class="col-md-8">

        <div class="row">


            <div class="col-4 mb-5">
              <div class="body-section">
                  <h1 class="white-text h3 text-center font-weight-bold p-3">CSC320</h1>
                  <h3 class="text-center my-3 white-text">3 Units</h3>
                  <h3 class="text-center my-3 red-text white p-3">Pending</h3>
                  <center><button class="btn btn-outline-white round-button mb-4" type="button" aria-expanded="false"
                      aria-controls="collapseExample" data-toggle="collapse" data-target="#collapseExample1" style="font-size: 11px;">See Details</button></center>

            <div class="collapse" id="collapseExample1">
              <div class="mt-3">
                  <table class="table">
                    <tbody>
                      <tr>
                        <td class="h4 text-center white-text font-weight-bold">Compilier Comstruction </td>
                      </tr>
                      <tr>
                        <td class="h4 text-center font-weight-bold hover-text"><a href="/error" class="white-text">2016/2017</a></td>
                      </tr>
                        <tr>
                        <td class="h4 text-center font-weight-bold hover-text"><a href="/error" class="white-text">2015/2016</a></td>
                      </tr>
                      <tr>
                        <td class="h4 text-center font-weight-bold hover-text"><a href="/error" class="white-text">2014/2015</a></td>
                      </tr>
                      <tr>
                        <td class="h4 text-center font-weight-bold hover-text"><a href="/error" class="white-text">Others</a></td>
                      </tr>
                    </tbody>
                  </table>
              </div>
            </div>
              </div>
            </div>

            <div class="col-4 mb-5">
                <div class="body-section">
                    <h1 class="white-text h3 text-center font-weight-bold p-3">CSC322</h1>
                    <h3 class="text-center my-3 white-text">3 Units</h3>
                    <h3 class="text-center my-3 red-text white p-3">Pending</h3>
                    <center><button class="btn btn-outline-white round-button mb-4" type="button" aria-expanded="false"
                        aria-controls="collapseExample" data-toggle="collapse" data-target="#collapseExample2" style="font-size: 11px;">See Details</button></center>

              <div class="collapse" id="collapseExample2">
                <div class="mt-3">
                    <table class="table">
                      <tbody>
                        <tr>
                          <td class="h4 text-center white-text font-weight-bold">Functional Programming</td>
                        </tr>
                        <tr>
                          <td class="h4 text-center font-weight-bold hover-text"><a href="/error" class="white-text">2016/2017</a></td>
                        </tr>
                          <tr>
                          <td class="h4 text-center font-weight-bold hover-text"><a href="/error" class="white-text">2015/2016</a></td>
                        </tr>
                        <tr>
                          <td class="h4 text-center font-weight-bold hover-text"><a href="/error" class="white-text">2014/2015</a></td>
                        </tr>
                        <tr>
                          <td class="h4 text-center font-weight-bold hover-text"><a href="/error" class="white-text">Others</a></td>
                        </tr>
                      </tbody>
                    </table>
                </div>
              </div>
                </div>
              </div>

              <div class="col-4 mb-5">
                  <div class="body-section">
                      <h1 class="white-text h3 text-center font-weight-bold p-3">CSC326</h1>
                      <h3 class="text-center my-3 white-text">3 Units</h3>
                      <h3 class="text-center my-3 white-text">Not Available</h3>
                      <center><button class="btn btn-outline-white round-button mb-4" type="button" aria-expanded="false"
                          aria-controls="collapseExample" data-toggle="collapse" data-target="#collapseExample3" style="font-size: 11px;">See Details</button></center>

                <div class="collapse" id="collapseExample3">
                  <div class="mt-3">
                      <table class="table">
                        <tbody>
                          <tr>
                            <td class="h4 text-center white-text font-weight-bold">Operating System II</td>
                          </tr>
                          <tr>
                            <td class="h4 text-center font-weight-bold hover-text"><a href="/error" class="white-text">2016/2017</a></td>
                          </tr>
                            <tr>
                            <td class="h4 text-center font-weight-bold hover-text"><a href="/error" class="white-text">2015/2016</a></td>
                          </tr>
                          <tr>
                            <td class="h4 text-center font-weight-bold hover-text"><a href="/error" class="white-text">2014/2015</a></td>
                          </tr>
                          <tr>
                            <td class="h4 text-center font-weight-bold hover-text"><a href="/error" class="white-text">Others</a></td>
                          </tr>
                        </tbody>
                      </table>
                  </div>
                </div>
                  </div>
                </div>

    </div>

    <div class="row mb-5">
        <div class="col-4">
            <div class="body-section">
                <h1 class="white-text h3 text-center font-weight-bold p-3">CSC328</h1>
                <h3 class="text-center my-3 white-text">3 Units</h3>
                <h3 class="text-center my-3 white-text">Not Available</h3>
                <center><button class="btn btn-outline-white round-button mb-4" type="button" aria-expanded="false"
                    aria-controls="collapseExample" data-toggle="collapse" data-target="#collapseExample4" style="font-size: 11px;">See Details</button></center>

          <div class="collapse" id="collapseExample4">
            <div class="mt-3">
                <table class="table">
                  <tbody>
                    <tr>
                      <td class="h4 text-center white-text font-weight-bold">Computer Architecture</td>
                    </tr>
                    <tr>
                      <td class="h4 text-center font-weight-bold hover-text"><a href="/error" class="white-text">2016/2017</a></td>
                    </tr>
                      <tr>
                      <td class="h4 text-center font-weight-bold hover-text"><a href="/error" class="white-text">2015/2016</a></td>
                    </tr>
                    <tr>
                      <td class="h4 text-center font-weight-bold hover-text"><a href="/error" class="white-text">2014/2015</a></td>
                    </tr>
                    <tr>
                      <td class="h4 text-center font-weight-bold hover-text"><a href="/error" class="white-text">Others</a></td>
                    </tr>
                  </tbody>
                </table>
            </div>
          </div>
            </div>
          </div>


        <div class="col-4">
            <div class="body-section">
                <h1 class="white-text h3 text-center font-weight-bold p-3">CSC340</h1>
                <h3 class="text-center my-3 white-text">2 Units</h3>
                <h3 class="text-center my-3 white-text">Not Available</h3>
                <center><button class="btn btn-outline-white round-button mb-4" type="button" aria-expanded="false"
                    aria-controls="collapseExample" data-toggle="collapse" data-target="#collapseExample5" style="font-size: 11px;">See Details</button></center>

          <div class="collapse" id="collapseExample5">
            <div class="mt-3">
                <table class="table">
                  <tbody>
                    <tr>
                      <td class="h4 text-center white-text font-weight-bold">Social and Professional Issues In Information Technology</td>
                    </tr>
                    <tr>
                      <td class="h4 text-center font-weight-bold hover-text"><a href="/error" class="white-text">2016/2017</a></td>
                    </tr>
                      <tr>
                      <td class="h4 text-center font-weight-bold hover-text"><a href="/error" class="white-text">2015/2016</a></td>
                    </tr>
                    <tr>
                      <td class="h4 text-center font-weight-bold hover-text"><a href="/error" class="white-text">2014/2015</a></td>
                    </tr>
                    <tr>
                      <td class="h4 text-center font-weight-bold hover-text"><a href="/error" class="white-text">Others</a></td>
                    </tr>
                  </tbody>
                </table>
            </div>
          </div>
            </div>
          </div>


          <div class="col-4">
              <div class="body-section">
                  <h1 class="white-text h3 text-center font-weight-bold p-3">MAT332</h1>
                  <h3 class="text-center my-3 white-text">3 Units</h3>
                  <h3 class="text-center my-3 white-text">PDF Available</h3>
                  <center><button class="btn btn-outline-white round-button mb-4" type="button" aria-expanded="false"
                      aria-controls="collapseExample" data-toggle="collapse" data-target="#collapseExample6" style="font-size: 11px;">See Details</button></center>

            <div class="collapse" id="collapseExample6">
              <div class="mt-3">
                  <table class="table">
                    <tbody>
                      <tr>
                        <td class="h4 text-center white-text font-weight-bold">Numerical Analysis II</td>
                      </tr>
                      <tr>
                        <td class="h4 text-center font-weight-bold hover-text"><a href="https://ufile.io/speb6" class="white-text">Download PDF Here</a></td>
                      </tr>
                        <!-- <a href="https://files.fm/u/dzjjs55z"></a> -->
                        <!-- <a href="https://ufile.io/speb6"></a> -->
                        <!-- <a href="https://files.fm/down.php?cf&i=tdu3hjbx&n=Wusu+mat332-converted-protected.pdf.opdownload"></a> -->
                        <!-- <a href="https://gofile.io/?c=46JyCU"></a> -->

                    </tbody>
                  </table>
              </div>
            </div>
              </div>
            </div>

</div>

                                  <table class="table text-center white">
                                    <tbody>
                                      <tr>
                                        <th class="h2 red-text">See Updates on Past Questions</th>
                                      </tr>
                                      <tr>
                                        <td class="h3">CSC320 Compilier Comstruction will be Available Soon PQ(2016/2017)</td>
                                      </tr>
                                      <tr>
                                          <td class="h3">CSC322 Functional Programming will be Available Soon PQ(2016/2017)</td>
                                      </tr>
                                      <tr>
                                          <td class="h3">MAT332 Numerical Analysis PDF Material now Available</td>
                                      </tr>
                                    </tbody>
                                  </table>
  </div>

  <div class="col-md-4">
      <div class="advert">
        <div>
          <a href="mailto:hollasheg@gmail.com"><img src="stylesheets/images/advert.jpeg" alt="Advert" class="advert-img"></a>
        </div>
        <div class="my-4 free-web2">
            <a href="http://samdos.herokuapp.com" class=" white-text "><h4 class="text-center p-4">GET A FREE WEBSITE NOW CLICK HERE</h4></a>
        </div>
        <div class="my-3 free-web">
            <a href="http://samdos.herokuapp.com/tutorial" class=" white-text "><h4 class=" text-center p-4">LEARN HOW TO CREATE A STUNNING WEBSITE HERE</h4></a>
        </div>
        <div class="my-4 free-web2">
            <a href="http://samdos.herokuapp.com" class=" white-text "><h4 class="text-center p-4">ANTICIPATE! ANTICIPATE!! ANTICIPATE!!!, VISIONISTER.COM COMING SOON. FOR MOTIVATIONAL IDEAS</h4></a>
        </div>
        <div class="my-3 free-web">
            <a href="mailto:hollasheg@gmail.com" class=" white-text "><h4 class=" text-center p-4">FOR SPONSORSHIP/COMPLAIN OR ADVERTISEMENT CLICK HERE</h4></a>
        </div>
      </div>
    </div>
</div>

<div class="mt-5"></div>

</div>
</main>

<footer class="my-5">
<center>
  <a href="/terms" class="black-text"><h5 class="font-weight-bold">See Terms and Conditions</h5></a>
    <h4 class="blue-text">© Copyright 2019<a href="http://samdos.herokuapp.com" class="red-text"> - Sheygun Techonology</a></h4>
</center>
</footer>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script type="text/javascript" src="stylesheets/js/jquery.mapin.js"></script>
<script type="text/javascript" src="stylesheets/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="stylesheets/js/popper.min.js"></script>
<script type="text/javascript" src="stylesheets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="stylesheets/js/mdb.min.js"></script>
<script src="stylesheets/js/jquery-1.11.1.min.js"></script>
<script src="stylesheets/bootstrap/js/bootstrap.min.js"></script>
<script src="stylesheets/js/jquery.backstretch.min.js"></script>
<script src="stylesheets/js/wow.min.js"></script>
<script src="stylesheets/js/retina-1.1.0.min.js"></script>
<script src="stylesheets/js/scripts.js"></script>
<script type="text/javascript" src="stylesheets/js/jquery.cookie.js"></script>
<script type="text/javascript" src="stylesheets/js/styleswitch.js"></script>
<script src="stylesheets/js/jquery.fractionslider.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" src="stylesheets/js/jquery.smartmenus.min.js"></script>
<script type="text/javascript" src="stylesheets/js/jquery.smartmenus.bootstrap.min.js"></script>
<script type="text/javascript" src="stylesheets/js/owl.carousel.min.js"></script>
<script type="text/javascript" src="stylesheets/js/jflickrfeed.js"></script>
<script type="text/javascript" src="stylesheets/js/jquery.magnific-popup.min.js"></script>
<script type="text/javascript" src="stylesheets/js/jquery.isotope.min.js"></script>
<script type="text/javascript" src="stylesheets/js/jquery.easypiechart.min.js"></script>
<script type="text/javascript" src="stylesheets/js/swipe.js"></script>
<script type="text/javascript" src="stylesheets/js/jquery-scrolltofixed-min.js"></script>
<script type="text/javascript" src="stylesheets/js/jquery.matchHeight-min.js"></script>
<script src="stylesheets/js/SmoothScroll.min.js" type="text/javacript"></script>
<script src="stylesheets/js/main.js"></script>
</html>