<!DOCTYPE html>
<html lang="en">

  <%- include partial/head %>
<body class="bk-design" oncontextmenu="return false">
    <main class="opaque">
    <%- include partial/navbar %> <br>

     <div class="container">

        <div class="row" style="margin-top: 120px;">

            <div class="col-md-3">
                <div class="advert">
                    <div>
                      <a href="https://samdos.herokuapp.com"><img src="stylesheets/images/samdos_opt.jpg" alt="Advert" class="img-fluid mx-auto d-flex align-item-center justify-content-center"></a>
                    </div>
                    <div class="my-4 free-web2 wow pulse" data-wow-iteration="1" data-wow-duration="2s">
                        <a href="https://samdosng.herokuapp.com" class=" white-text"><h4 class="text-center p-3 h5">Samdos Express</h4></a>
                    </div>
                    <div class="my-4 free-web2 wow pulse" data-wow-iteration="1" data-wow-duration="2s" style="height: 150px;">
                        <a href="https://wa.me/+2348102129149" class=" white-text"><h4 class="text-center p-3 h6" style="transform: translateY(100%);">Advertise Here For <b>Free</b></h4></a>
                    </div>

                  </div>
                </div>

          <div class="col-md-9">
              <div class="row">

                  <div class="col-md-3 col-8 mx-auto mb-5 ">
                      <div class="body-section wow fadeInLeft" data-wow-duration="3s"> <br>
                        <h1 class="white-text h6 text-center font-weight-bold py-2 mx-5 rounded">CSC413</h1>
                        <h3 class="text-center h5 my-3 white-text">3 Units</h3>
                        <h3 class="text-center mt-2 mb-1 h5 white-text yellow py-2">Pending</h3>
                        <center><button class="btn btn-outline-white round-button mb-3 py-2" type="button" aria-expanded="false"
                            aria-controls="collapseExample" data-toggle="collapse" data-target="#collapseExample1" style="font-size: 11px;">See Details</button>
                          </center>

                  <div class="collapse" id="collapseExample1">
                    <div class="mt-1">
                        <table class="table">
                          <tbody>
                            <tr>
                              <td class="text-center white-text font-weight-bold py-1" style="font-size: 10px;">Software Engineering </td>
                            </tr>
                            <tr>
                              <td class="text-center font-weight-bold hover-text py-2" style="font-size: 10px;" ><a href="/error" class="white-text">2016/2017</a></td>
                            </tr>
                          </tbody>
                        </table>
                    </div>
                  </div>

                    </div>
                  </div>

                  <div class="col-md-3 col-8 mx-auto mb-5 ">
                      <div class="body-section wow fadeInLeft" data-wow-duration="3s"> <br>
                        <h1 class="white-text h6 text-center font-weight-bold p-2 mx-5 rounded">CSC417</h1>
                        <h3 class="text-center h5 my-3 white-text">3 Units</h3>
                        <h3 class="text-center mt-2 mb-1 h5 white-text yellow py-2">Pending</h3>
                        <center><button class="btn btn-outline-white round-button mb-3 py-2" type="button" aria-expanded="false"
                            aria-controls="collapseExample" data-toggle="collapse" data-target="#collapseExample2" style="font-size: 11px;">See Details</button>
                          </center>

                  <div class="collapse" id="collapseExample2">
                    <div class="mt-1">
                        <table class="table">
                          <tbody>
                            <tr>
                              <td class="text-center white-text font-weight-bold py-2" style="font-size: 10px;">DBMS II</td>
                            </tr>
                            <tr>
                              <td class="text-center font-weight-bold hover-text py-2" style="font-size: 10px;" ><a href="/error" class="white-text">2016/2017</a></td>
                            </tr>
                          </tbody>
                        </table>
                    </div>
                  </div>

                    </div>
                  </div>

                  <div class="col-md-3  col-8 mx-auto mb-5 ">
                      <div class="body-section wow fadeInLeft" data-wow-duration="3s"> <br>
                        <h1 class="white-text h6 text-center font-weight-bold p-2 mx-5 rounded">CSC437</h1>
                        <h3 class="text-center h5 my-3 white-text">3 Units</h3>
                        <h3 class="text-center mt-2 mb-1 h5 white-text yellow py-2">Pending</h3>
                        <center><button class="btn btn-outline-white round-button mb-3 py-2" type="button" aria-expanded="false"
                            aria-controls="collapseExample" data-toggle="collapse" data-target="#collapseExample3" style="font-size: 11px;">See Details</button>
                          </center>

                  <div class="collapse" id="collapseExample3">
                    <div class="mt-1">
                        <table class="table">
                          <tbody>
                            <tr>
                              <td class="text-center white-text font-weight-bold py-2" style="font-size: 10px;">Artificial Intelligence </td>
                            </tr>
                            <tr>
                              <td class="text-center font-weight-bold hover-text py-2" style="font-size: 10px;" ><a href="/error" class="white-text">2016/2017</a></td>
                            </tr>
                          </tbody>
                        </table>
                    </div>
                  </div>

                    </div>
                  </div>

                  <div class="col-md-3  col-8 mx-auto mb-5 ">
                      <div class="body-section wow fadeInLeft" data-wow-duration="3s"> <br>
                        <h1 class="white-text h6 text-center font-weight-bold p-2 mx-5 rounded">CSC411</h1>
                        <h3 class="text-center h5 my-3 white-text">3 Units</h3>
                        <h3 class="text-center mt-2 mb-1 h5 white-text yellow py-2">Pending</h3>
                        <center><button class="btn btn-outline-white round-button mb-3 py-2" type="button" aria-expanded="false"
                            aria-controls="collapseExample" data-toggle="collapse" data-target="#collapseExample4" style="font-size: 11px;">See Details</button>
                          </center>

                  <div class="collapse" id="collapseExample4">
                    <div class="mt-1">
                        <table class="table">
                          <tbody>
                            <tr>
                              <td class="text-center white-text font-weight-bold py-2" style="font-size: 10px;">Data Communication </td>
                            </tr>
                            <tr>
                              <td class="text-center font-weight-bold hover-text py-2" style="font-size: 10px;" ><a href="/error" class="white-text">2016/2017</a></td>
                            </tr>
                          </tbody>
                        </table>
                    </div>
                  </div>

                    </div>
                  </div>





                  <div class="col-md-3 col-8 mx-auto mb-5 ">
                      <div class="body-section wow fadeInLeft" data-wow-duration="3s"> <br>
                        <h1 class="white-text h6 text-center font-weight-bold py-2 mx-5 rounded">CSC435</h1>
                        <h3 class="text-center h5 my-3 white-text">2 Units</h3>
                        <h3 class="text-center mt-2 mb-1 h5 white-text yellow py-2">Pending</h3>
                        <center><button class="btn btn-outline-white round-button mb-3 py-2" type="button" aria-expanded="false"
                            aria-controls="collapseExample" data-toggle="collapse" data-target="#collapseExample5" style="font-size: 11px;">See Details</button>
                          </center>

                  <div class="collapse" id="collapseExample5">
                    <div class="mt-1">
                        <table class="table">
                          <tbody>
                            <tr>
                              <td class="text-center white-text font-weight-bold py-2" style="font-size: 10px;">Principle of Programming Language </td>
                            </tr>
                            <tr>
                              <td class="text-center font-weight-bold hover-text py-2" style="font-size: 10px;" ><a href="/error" class="white-text">2016/2017</a></td>
                            </tr>
                          </tbody>
                        </table>
                    </div>
                  </div>

                    </div>
                  </div>

                  <div class="col-md-3 col-8 mx-auto mb-5 ">
                      <div class="body-section wow fadeInLeft" data-wow-duration="3s"> <br>
                        <h1 class="white-text h6 text-center font-weight-bold p-2 mx-5 rounded">CSC415</h1>
                        <h3 class="text-center h5 my-3 white-text">2 Units</h3>
                        <h3 class="text-center mt-2 mb-1 h5 white-text yellow py-2">Pending</h3>
                        <center><button class="btn btn-outline-white round-button mb-3 py-2" type="button" aria-expanded="false"
                            aria-controls="collapseExample" data-toggle="collapse" data-target="#collapseExample6" style="font-size: 11px;">See Details</button>
                          </center>

                  <div class="collapse" id="collapseExample6">
                    <div class="mt-1">
                        <table class="table">
                          <tbody>
                            <tr>
                              <td class="text-center white-text font-weight-bold py-2" style="font-size: 10px;">Web Development</td>
                            </tr>
                            <tr>
                              <td class="text-center font-weight-bold hover-text py-2" style="font-size: 10px;" ><a href="/error" class="white-text">2016/2017</a></td>
                            </tr>
                          </tbody>
                        </table>
                    </div>
                  </div>

                    </div>
                  </div>

              </div>
              <div class="row">
                <div class="col-md-12">

                    <div class="table-responsive">
                        <table class="table text-center white table-hover" style="border-radius: 10px;" data-wow-duration="3s">
                            <tbody class="">
                              <tr style="width: 100%;">
                                <th class="h5 red-text" colspan="2" >See Latest Updates and Posts</th>
                              </tr>
                                  <!-- ================================ recent news here ====================================== -->
                                  <tr>
                                    <td class="h6" style="width: 70%;"><a href="/csc/400level"  style="font-size: 12px;" class="">400 level CSC Final Provisional 2018/2019 First Semester Examination TimeTable <br>posted 20/07/2019 10:06:55 PM</a> </td>
                                  </tr>

                                  <tr>
                                    <td class="h6" style="width: 70%;"><a href="#!" style="font-size: 12px;">See Functional Programming CSC322 Test Questions and Answers Here <br>posted 26/02/2019 04:30:46 PM</a> </td>
                                  </tr>

                              <tr>
                                  <td class="h6" style="width: 70%;"><span style="font-size: 12px;">MAT332 Numerical Analysis PDF Material now Available <br> posted 12/02/2019 11:02:56 PM</span></td>
                              </tr>
                            </tbody>
                          </table>
                    </div>


                </div>
              </div>

          </div>

          </div>
        </div>

        <%- include partial/footer %> <br>
     </div>
    </main>
</body>

<%- include partial/script %>

</html>