<!DOCTYPE html>
<html lang="en">

  <%- include partial/head %>
<body class="bk-design">
    <main class="opaque">
    <%- include partial/navbar %> <br>


    <div class="container" >

      <div style="margin-top: 200px;">
          <center class="my-5">
              <h1 class="h1"> My Pin</h1>
              <button type="button" onclick="checked()" class="btn btn-outline-primary btn-lg waves-effect">Check Pin</button>
              <div>
                <div class="row container">
                  <div class="col-12" id="copyPin"  style="visibility: hidden;">
                   <div>
                       <table class="table my-5">
                         <tbody>
                             <tr>
                                 <th rowspan="2" class="my-table-row">CSC340</th>
                                 <td class="h3" id="printId1"></td>
                               </tr>
                               <tr>
                                 <td class="h3" id="printId2"></td>
                               </tr>

                               <!-- <tr>
                                   <th rowspan="2" class="my-table-row">CSC322</th>
                                   <td class="h3" id="printId3"></td>
                                 </tr>
                                 <tr>
                                   <td class="h3" id="printId4"></td>
                                 </tr> -->

                                 <!-- <tr>
                                     <th rowspan="2" class="my-table-row">CSC326</th>
                                     <td class="h3" id="printId5"></td>
                                   </tr>
                                   <tr>
                                     <td class="h3" id="printId6"></td>
                                   </tr>

                                   <tr>
                                       <th rowspan="2" class="my-table-row">CSC328</th>
                                       <td class="h3" id="printId7"></td>
                                     </tr>
                                     <tr>
                                       <td class="h3" id="printId8"></td>
                                     </tr>

                                     <tr>
                                         <th rowspan="2" class="my-table-row">CSC340</th>
                                         <td class="h3" id="printId9"></td>
                                       </tr>
                                       <tr>
                                         <td class="h3" id="printId10"></td>
                                       </tr>

                                       <tr>
                                           <th rowspan="2" class="my-table-row">MAT332</th>
                                           <td class="h3" id="printId11"></td>
                                         </tr>
                                         <tr>
                                           <td class="h3" id="printId12"></td>
                                         </tr> -->

                         </tbody>
                         </table>
                   </div>
                  </div>
                  <!-- <div class="col-2">
                   <button type="button" class="btn btn-sm btn-outline-green waves-effect" id="copyPin" style="visibility: hidden;">Copy Pin</button>
                  </div> -->
                </div>
              </div>

           </center>
      </div>

    </div>

          <%- include partial/footer %> <br>
       </main>
   </body>

   <%- include partial/script %>

 <script type="text/javascript" src="stylesheets/js/jquery.mapin.js"></script>

   </html>