<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Samdos Express Technology</title>
  <link rel="stylesheet" href="./stylesheets/css/style.css">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link href="stylesheets/css/bootstrap.min.css" rel="stylesheet">
  <link href="stylesheets/css/mdb.min.css" rel="stylesheet">
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <link rel="stylesheet" href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,700">
        <link rel="stylesheet" href="stylesheets/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="stylesheets/css/animate.css">
        <link rel="stylesheet" href="stylesheets/css/media-queries.css">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">      
        <link rel="stylesheet" type="text/css" href="stylesheets/css/switcher.css" media="screen" />
        <link rel="stylesheet" href="stylesheets/css/fractionslider.css"/>
        <link rel="stylesheet" href="stylesheets/css/style-fraction.css"/>
</head>
<body>
    <main class="container">
            <nav class="mb-5">
                    <center class="sam"> <br>
                      <h1 class="display-4 font-weight-bold edit-samdos">Samdos Express Technology</h1>
                      <h1 class="blue-text">Electronic Past Questions and Answers</h1> <br>
                      <h4><a href="/" class="white-text blue p-3 mb-5">Go Home</a></h4> <br>
                    </center>
                  </nav>
                <div>

        <p>
                These Terms and Conditions ("Agreement") governs the use of the services ("Service") that are made available by Samdos.com Solutions Inc. ("Samdos.com", "we" or "us"). These Terms and Conditions represent the whole agreement and understanding between Samdos.com and the individual or entity who subscribes to our service.
                </p>
                <p>
                PLEASE READ THIS AGREEMENT CAREFULLY. By submitting your application and by your use of the Service, you agree to comply with all of the terms and conditions set out in this Agreement. Samdos.com may terminate your account at any time, with or without notice, for conduct that is in breach of this Agreement, for conduct that Samdos.com believes is harmful to its business, or for conduct where the use of the Service is harmful to any other party.
                </p>
                <p>
                Samdos.com may, in its sole discretion, change or modify this Agreement at any time, with or without notice. Such changes or modifications shall be made effective for all Subscribers upon posting of the modified Agreement to this web address (URL): http://www.Samdos.com. You are responsible to read this document from time to time to ensure that your use of the Service remains in compliance with this Agreement.
                </p>
                <p>
                Samdos.com offers Subscribers web development, website design, and database management for the duration of the service term purchased from Samdos.com.
                
                Services are provided on the basis of facility and equipment availability. Samdos.com reserves the right to modify, change, or discontinue any aspect of the Services at any time.
                
                Access to the web and email servers is terminated upon expiry of the Service.All service trials and promotion offers are considered to be delivered in full upon the completion of the service term stated on the trial or offer invoice found in your account control panel. Samdos.com is not obligated to provide reimbursement for any proration or service term adjustment on service trials or promotional offers.
                
                Promotional offers, including special introductory rates, promotional rates, or any non-regular pricing, are only available to new customers and are only valid for the initial term. All hosting services will renew at the regular renewal rate.
                For starters, A simple website is been offered which can later be upgrading after meeting the requirements provided by the management.
                Standard and Ultimate sections are been attended to provided the user meet the requirements.
                </p>
                <p>
                Samdos.com provides Subscribers with a non-exclusive, non-transferable, limited license to use the Website Builder. The Website Builder is developed and owned by Samdos.com, and any reproduction, modification, creation of derivative works from or redistribution of the Website Builder is expressly prohibited. The Website Builder, its structure, sequence, 
                organization and source code are considered trade secrets of Samdos.com and are protected by trade secret laws.In the event of a dispute regarding any Image obtained via the Website Builder, you hereby release Samdos.com, its officers, directors, owners, agents, and employees from claims, demands, and damages, actual and consequential, of every kind and nature, known and unknown, suspected and unsuspected, disclosed and undisclosed, arising out of or in any connection with such disputes. Samdos.com is not a party to, and shall not be involved in or responsible for, transactions, agreements, and/or disputes between you and any third party.
                </p>
                <p>
                Samdos.com's email service provides customers with the capability to send and receive email via the Internet. Samdos.com retains the right, at our sole discretion, to restrict the volume of messages transmitted or received by you in order to maintain the quality of our email services to other Subscribers and to protect our computer systems.
                
                As an owner and operator of the equipment and other resources utilized to provide services, Samdos.com has the legal right to block electronic communications from other entities on the Internet.
                
                Samdos.com relies on the support of its sponsors and advertisers to help offset the cost of the Services offered to its Subscribers. You acknowledge that as part of your Samdos.com Service, advertisement sponsored email newsletters may be sent to Subscribers and Samdos.com email service email accounts.
                
                </p>
                <p>
                All Samdos.com fees and charges are quoted and billed in Nigeria Currency unless otherwise noted. Samdos.com uses an automated payment processing system and only accepts credit card or PayPal payments at this time. All Subscribers are required to maintain valid payment information on file for the processing of any applicable service fees. At its sole discretion, Samdos.com may use credit card issuer-approved services, such as VISA Account Updater and MasterCard Automatic Billing Updater, to acquire updated payment information for the purpose of processing outstanding payments that are on your account.
                
                Samdos.com may take any reasonable action to validate your payment and registration information, and collect all payments due. You agree to pay all attorney and collection fees arising from any efforts to collect any past due amounts from you, to the extent allowed by law.
                
                Service fees are due at the time of order or on the day of renewal. All fees must be paid in full.
                </p>
                <p>
                Samdos.com does not charge you any fees relating to the processing of transactions under your account ("Transaction Fees"). However, your selected payment processor, such as PayPal or Stripe, may still charge you Transaction Fees for each payment you receive. You will be solely responsible for any such Transaction Fees.
                Maintenance and upgrading of the provided website shall be done by Samdos Express Management only. Payments shall be required through this process to any of 
                the departments involved.
                </p>
                <p>
                Samdos.com may terminate your Service under the following circumstances (non-exclusive list):
                
                Non-payment of fees
                You are in breach of any term or condition of this Agreement
                Your use of the Service disrupts Samdos.com business operations or affects any other party
                All Subscriber data is removed from Samdos.com servers for such terminations.
                
                You may request account termination or hosting plan changes at any time by contacting our Customer Service team either through phone or case ticket. Our contact information can be found on the Support page of our website: http://www.Samdos.com/contact-us/
                
                When submitting your cancellation request, you must provide the correct username and password for your account for verification. Incomplete cancellation requests will be deemed invalid and will not be processed. You will be responsible for any service fees that arise from your failure to cancel your account.
                </p>
                <p>
                When you apply to use Samdos.com services, you will be asked to select a Subscriber ID and Password. The Subscriber ID and Password are the means through which you access certain services. You acknowledge and agree that it is your responsibility to safeguard the Subscriber ID and Password you select from any unauthorized use. IN NO EVENT WILL Samdos.com BE LIABLE FOR THE UNAUTHORIZED USE OR MISUSE OF YOUR SUBSCRIBER ID OR PASSWORD. Subscribers are responsible for maintaining accurate account information at all times, including credit card and contact information. This information can be updated in your account control panel.
                </p>
                
                <p>
                You agree that, unless other instructions are posted on Samdos.com's website, any notices required to be given under this Agreement will be deemed to have been given if delivered by email or fax, or sent by registered mail or by courier to each of the parties in accordance with the most current contact information you have provided to us, and the contact information for Samdos.com posted on the Samdos.com website. All notices shall be effective upon receipt, except that email and fax notices shall be effective upon transmission.
                </p>
                
                <p>
                Samdos.com does not accept agreements and payments from persons under the legal age of 16 years. By submitting your account application, you confirm that you are over 16 years of age or your parent or legal guardian has agreed to accept this Agreement on your behalf.
                </p>
                <p>
                No waiver of any of the provisions of this Agreement will be deemed to constitute a waiver of any other provision nor shall such a waiver constitute a continuing waiver unless otherwise expressly provided in writing duly executed by the party to be bound thereby.
                </p>
                <p>
                This Agreement, as may be updated from time to time and posted at http://www.Samdos.com, represents the complete agreement and understanding between us with respect to the Service and supersedes any other written or oral agreement.
                </p>
                </div>
    </main>



  
  <footer class="my-5">
      <center>
          <h4 class="blue-text">© Copyright 2019<a href="http://samdos.herokuapp.com" class="red-text"> - Sheygun Techonology</a></h4>
      </center>
  </footer>
</body>








 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
 <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
 <script type="text/javascript" src="stylesheets/js/jquery.mapin.js"></script>
   <script type="text/javascript" src="stylesheets/js/jquery-3.3.1.min.js"></script>
   <script type="text/javascript" src="stylesheets/js/popper.min.js"></script>
   <script type="text/javascript" src="stylesheets/js/bootstrap.min.js"></script>
   <script type="text/javascript" src="stylesheets/js/mdb.min.js"></script>
   <script src="stylesheets/js/jquery-1.11.1.min.js"></script>
         <script src="stylesheets/bootstrap/js/bootstrap.min.js"></script>
         <script src="stylesheets/js/jquery.backstretch.min.js"></script>
         <script src="stylesheets/js/wow.min.js"></script>
         <script src="stylesheets/js/retina-1.1.0.min.js"></script>
         <script src="stylesheets/js/scripts.js"></script>
         <script type="text/javascript" src="stylesheets/js/jquery.cookie.js"></script>
 <script type="text/javascript" src="stylesheets/js/styleswitch.js"></script> 
 <script src="stylesheets/js/jquery.fractionslider.js" type="text/javascript" charset="utf-8"></script>
 <script type="text/javascript" src="stylesheets/js/jquery.smartmenus.min.js"></script>
 <script type="text/javascript" src="stylesheets/js/jquery.smartmenus.bootstrap.min.js"></script>
 <script type="text/javascript" src="stylesheets/js/owl.carousel.min.js"></script>
 <script type="text/javascript" src="stylesheets/js/jflickrfeed.js"></script>
 <script type="text/javascript" src="stylesheets/js/jquery.magnific-popup.min.js"></script>
 <script type="text/javascript" src="stylesheets/js/jquery.isotope.min.js"></script>
 <script type="text/javascript" src="stylesheets/js/jquery.easypiechart.min.js"></script>
 <script type="text/javascript" src="stylesheets/js/swipe.js"></script>
 <script type="text/javascript" src="stylesheets/js/jquery-scrolltofixed-min.js"></script>
 <script src="stylesheets/js/SmoothScroll.min" type="text/javascript"></script>
 <script type="text/javascript" src="stylesheets/js/jquery.matchHeight-min.js"></script>
 <script src="stylesheets/js/SmoothScroll.min.js" type="text/javascript"></script>
 <script src="stylesheets/js/main.js"></script>
</html>