<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Samdos Express Technology</title>
  <link rel="stylesheet" href="./stylesheets/css/style.css">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link href="stylesheets/css/bootstrap.min.css" rel="stylesheet">
  <link href="stylesheets/css/mdb.min.css" rel="stylesheet">
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <link rel="stylesheet" href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,700">
        <link rel="stylesheet" href="stylesheets/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="stylesheets/css/animate.css">
        <link rel="stylesheet" href="stylesheets/css/media-queries.css">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" type="text/css" href="stylesheets/css/switcher.css" media="screen" />
        <link rel="stylesheet" href="stylesheets/css/fractionslider.css"/>
        <link rel="stylesheet" href="stylesheets/css/style-fraction.css"/>
</head>
<body>
   <div style="visibility: visibles;" id="visible">
    <nav class="">
      <center class=" fixed-top sam wow pulse" data-wow-duration="3s" data-wow-iteration="1000"> <br>
        <h5 class="font-weight-bold edit-samdos">Samdos Express Technology</h5>
        <h6 style="font-size: 10px;" class="blue-text h4-responsive">Electronic Past Questions and Answers</h6>
        <h6><a href="/" class="white-text blue p-2">Go Home</a></h6>
      </center>
    </nav>

    <main style="margin-top: 120px;">

          <div class="continue">
                      <h6 class="red p-4 white-text">To continue, kindly provide the pin below</h6>

                      <div class="alert alert-danger my-3 disable-div text-center " id="danger" role="alert">
                        <p id="print-error" style="text-align: center;"></p>
                        </div>
                    <center class="mb-5">
                          <label for="label" class="h5">Enter CSC340B Pin Here</label><br>
                          <input type="number" maxlength="8" name="pin-name" id="userPin" class="p-3"><br>
                          <button type="button" value="Proceed" class="btn p-3 mt-3 purple white-text" style="font-size: 15px;" onclick="getPinCss340b()">Proceed</button><br>
                          <button type="button" class="btn btn-outline-success read-button" id="readButton" data-toggle="modal" data-target="#centralModallg">
                              <h3 class="mt-2">Read Now</h3>
                          </button>
                    </center>

                    <div class="accordion" id="accordionExample">
                       <h5 class="text-center"> Don't have a Pin? <a href="" data-toggle="collapse" data-target="#collapseOne"
                        aria-expanded="false" aria-controls="collapseOne" >Get it Here...</a></h5>

                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                          <div class="card-body">
                            <p>
                              To get your pin which will last for 48hrs, a fee of $0.27 (#100) is issued.
                              <ol>
                                <li> <p>Payment can be made through Recharge Vouchers (MTN, AIRTEL), to the Mobile Numbers Below</p> </li>
                                <li><p>+234-817-385-606-4 (SMS only)</p></li>
                                <li><p class="red-text">Sample: <br> Samdos Past Question <br> GET XXX-YYY-Z PIN e.g. CSC320B PIN<br> 1234-5678-9123-4567 <br> Send to +234-817-385-606-4</p></li>
                                <li><p>You will receive an SMS/EMAIL of your pin after 15mins at most of Verification</p></li>
                                <li><p>Note that the Pin expires after certain Number of Input before the exceeding Time. Maximum time is 48hrs</p></li>
                              </ol>
                            </p>
                            <p>Best Regards,<br>From <br>
                              Asst. CEO, Samdos Express Technology <br> Olabayo Segun Emmanuel
                            </p>
                          </div>
                        </div>

                    </div>
                  </div>
              </div>
      </main>
   </div>

<!-- ========================================================= visible ================================= -->


<div class="modal fade" id="centralModallg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

  <!-- Change class .modal-sm to change the size of the modal -->
  <div class="modal-dialog modal-fluid" role="document">


    <div class="modal-content">
      <div class="modal-header black">
        <h1 class="modal-title  my-4 font-weight-bold white-text mx-auto" id="exampleModalLabel">SAMDOS EXPRESS TECHNOLOGY</h1>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class="white-text h1" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="bk-design">

          <main class="container">
            <div style="margin-top: 50px;"></div>
            <div class="document-page container">

              <div>
                  <center class="my-5">
                    <h5 class="font-weight-bold">Social and Professional Issues In Information Technology <br> CSC 340 2016/2017</h5>
                  <h5>QUESTION 1</h5>
                  </center>
                </div>

                <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">

                    <div class="card">
                      <div class="card-header" role="tab" id="headingOne1">
                        <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
                          aria-controls="collapseOne1">
                          <h5 class="mb-0"> Question 1a <i class="fa fa-angle-down rotate-icon"></i></h5> </a>
                          <p>Identify five ways through which organizations can encourage ethical behavior amongst employees.</p>

                      </div>
                      <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1" data-parent="#accordionEx">
                        <div class="card-body">
                                <p align="justify">
                                  Five ways to encourage ethical behavior are listed below: <br>
                                  1. Code of Ethics <br>
                                  2. Ethics Training <br>
                                  3. Selecting and Hiring Ethical Employees <br>
                                  4. Whistle blower Protection <br>
                                  5. Fostering Ethical Decisions <br>
                                  6. Feedback System <br>
                                  </p>
                        </div>
                      </div>
                    </div>

                    <div class="card">
                      <div class="card-header" role="tab" id="headingTwo2">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo2"
                          aria-expanded="false" aria-controls="collapseTwo2">
                          <h5 class="mb-0"> Question 1b <i class="fa fa-angle-down rotate-icon"></i></h5></a>
                          <p>State five ways in which Computer Abuse can be thwarted within an organization</p>

                      </div>
                      <div id="collapseTwo2" class="collapse" role="tabpanel" aria-labelledby="headingTwo2" data-parent="#accordionEx">
                        <div class="card-body">
                                <p align="justify">
                                    (1) Enlist top management support <br>
                                    (2) Increase employee awareness and education <br>
                                    (3) Conduct Security Inventory and Protect Password <br>
                                    (4) Identify Computer Criminals <br>
                                    (5) Recognize the symptoms of employee
                                </p>
                        </div>
                      </div>
                    </div>

                    <div class="card">
                      <div class="card-header" role="tab" id="headingThree3">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree3"
                          aria-expanded="false" aria-controls="collapseThree3">
                          <h5 class="mb-0"> Question 1c <i class="fa fa-angle-down rotate-icon"></i></h5></a>
                          <p>Differentiate between Computer Crime and Computer Abuse</p>

                      </div>
                      <div id="collapseThree3" class="collapse" role="tabpanel" aria-labelledby="headingThree3" data-parent="#accordionEx">
                        <div class="card-body">
                                <p align="justify">
                                  <b>Computer Abuse:</b> is the use of computer to do something improper or illegal, it is also be as unauthorized used of or access to a computer for the purpose contrary to the wishes of the owner of the computer
                                </p>
                                <p align="justify">
                                 <b> Computer Crime:</b> is the manipulation of a computer or computer data i.e. the act performed by a knowledgeable computer user (hacker) that illegally browses or steals a company’s or individual private information
                                </p>
                        </div>
                      </div>
                    </div>

                    <div class="card">
                            <div class="card-header" role="tab" id="headingTwo4">
                              <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo4"
                                aria-expanded="false" aria-controls="collapseTwo4">
                                <h5 class="mb-0"> Question 1d <i class="fa fa-angle-down rotate-icon"></i></h5> </a>
                                <p>Define each of the following: <br>
                                  i Identity theft <br>
                                  ii Intellectual property theft <br>
                                  iii Phishing <br>
                                  iv Salami slicing <br>
                                  v Spamming <br>
                                  vi Wiretapping <br>
                                  vii Harvesting <br>
                                  viii Espionage <br>
                                  ix Cyberstalking <br>
                                  x Cyber terrorism</p>

                            </div>
                            <div id="collapseTwo4" class="collapse" role="tabpanel" aria-labelledby="headingTwo4" data-parent="#accordionEx">
                              <div class="card-body">
                                      <p align="justify">

                                    i. <b>Identity Theft:</b> Pretending to be someone you are not <br>
                                    ii. <b>Intellectual property theft:</b> stealing practical or conceptual information developed by another person or company <br>
                                    iii. <b>Phishing:</b> Deceiving individual to gain private or personal information about that personal information about that person <br>
                                    iv. <b>Salami slicing:</b> Stealing tiny amounts of money from each transaction <br>
                                    v. <b>Spamming:</b> Distributing unsolicited emails to dozens or hundreds of different emails user addresses <br>
                                    vi. <b>Wiretapping:</b>  connecting a device to phone line to listen a conversation <br>
                                    vii. <b>Harvesting:</b> collecting account or related account information on other people <br>
                                    viii. <b>Espionage:</b> spying on a person or business <br>
                                    ix. <b>Cyber stalking:</b> Harassing or stalking people online <br>
                                    x. <b>Cyber terrorism:</b> Hacking, Threats, and blackmailing towards a business or personal
                                    </p>
                              </div>
                            </div>
                          </div>

                          <div class="card">
                            <div class="card-header" role="tab" id="headingTwo5">
                              <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo5"
                                aria-expanded="false" aria-controls="collapseTwo5">
                                <h5 class="mb-0"> Question 1e <i class="fa fa-angle-down rotate-icon"></i></h5></a>
                                <p>For an employee to be termed Reliable, what are the three things he/she must not do?</p>

                            </div>
                            <div id="collapseTwo5" class="collapse" role="tabpanel" aria-labelledby="headingTwo5" data-parent="#accordionEx">
                              <div class="card-body">
                                      <p align="justify">
                                        Three things a reliable person must do <br>
                                        1. Avoid bad fate <br>
                                        2. Avoid unclear <br>
                                        3. Avoid unwise
                                       </p>
                              </div>
                            </div>
                          </div>

                          <div class="card">
                            <div class="card-header" role="tab" id="headingThree6">
                              <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree6"
                                aria-expanded="false" aria-controls="collapseThree6">
                                <h5 class="mb-0"> Question 1f <i class="fa fa-angle-down rotate-icon"></i></h5></a>
                                <p>State six qualities an employee must possess before being termed responsible.</p>

                            </div>
                            <div id="collapseThree6" class="collapse" role="tabpanel" aria-labelledby="headingThree6" data-parent="#accordionEx">
                              <div class="card-body">
                                      <p align="justify">
                                        Qualities of a responsible person <br>
                                        1. Being in charge of your choice and life <br>
                                        2. Being accountable <br>
                                        3. Doing your best being diligent, reliable, useful and informed <br>
                                        4. finishing what you start <br>
                                        5. looking for ways to do your work better <br>
                                        6. Exercising self restrain
                                      </p>
                              </div>
                            </div>
                          </div>

                  </div>

                <center class="my-5">
                  <p class="text-center red-text">Thanks for taking your time in viewing this website. We at SAMDOS EXPRESS wishes you success in your examinations. Please note, All answers are not guaranteed the absolute answer to the questions. We employ you to make more research on them for quality sake</p>
                  <p class="text-center red-text">Best Regards, <br> Asst CEO SAMDOS EXPRESS TECHNOLOGY <br> Olabayo Segun Emmanuel</p>
                </center>

                <div>
                  <center>
                   <a href="/"><button type="button" class="btn btn-outline-purple p-4 mb-5" style="font-size: 15px;">GO HOME</button></a>
                  </center>
                </div>
            </div>
          </main>
    <br>


        </div>



      </div>
    </div> <br>
  </div>
</div>
<!-- ================================================== ends here ============================================== -->

<footer class="my-5 white p-5 mx-auto d-flex align-item-center justify-content-center col-10 rounded">
  <center>
    <a href="/terms" class="black-text"><h6 class="font-weight-bold">See Terms and Conditions</h6></a>
      <h6 style="font-size:11px;" class="blue-text font-weight-bold">© Copyright 2019<a href="http://samdos.herokuapp.com" class="red-text"> - 1.2v Sheygun Technology <br>All Right Reserved</a></h6>
  </center>
  </footer>
</body>








 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
 <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
   <script type="text/javascript" src="stylesheets/js/jquery-3.3.1.min.js"></script>
   <script type="text/javascript" src="stylesheets/js/popper.min.js"></script>
   <script type="text/javascript" src="stylesheets/js/bootstrap.min.js"></script>
   <script type="text/javascript" src="stylesheets/js/mdb.min.js"></script>
   <script src="stylesheets/js/jquery-1.11.1.min.js"></script>
         <script src="stylesheets/bootstrap/js/bootstrap.min.js"></script>
         <script src="stylesheets/js/jquery.backstretch.min.js"></script>
         <script src="stylesheets/js/wow.min.js"></script>
         <script src="stylesheets/js/retina-1.1.0.min.js"></script>
         <script src="stylesheets/js/scripts.js"></script>
         <script type="text/javascript" src="stylesheets/js/jquery.cookie.js"></script>
 <script type="text/javascript" src="stylesheets/js/styleswitch.js"></script>
 <script src="stylesheets/js/jquery.fractionslider.js" type="text/javascript" charset="utf-8"></script>
 <script type="text/javascript" src="stylesheets/js/jquery.smartmenus.min.js"></script>
 <script type="text/javascript" src="stylesheets/js/jquery.smartmenus.bootstrap.min.js"></script>
 <script type="text/javascript" src="stylesheets/js/owl.carousel.min.js"></script>
 <script type="text/javascript" src="stylesheets/js/jquery.mapin.js"></script>
 <script type="text/javascript" src="stylesheets/js/jflickrfeed.js"></script>
 <script type="text/javascript" src="stylesheets/js/jquery.magnific-popup.min.js"></script>
 <script type="text/javascript" src="stylesheets/js/jquery.isotope.min.js"></script>
 <script type="text/javascript" src="stylesheets/js/jquery.easypiechart.min.js"></script>
 <script type="text/javascript" src="stylesheets/js/swipe.js"></script>
 <script type="text/javascript" src="stylesheets/js/jquery-scrolltofixed-min.js"></script>
 <script type="text/javascript" src="stylesheets/js/jquery.matchHeight-min.js"></script>
 <script src="stylesheets/js/SmoothScroll.min.js" type="text/javacript"></script>
 <script src="stylesheets/js/main.js"></script>
 <script>
  new WOW().init();
</script>
</html>