<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Samdos Express Technology</title>
  <link rel="stylesheet" href="./stylesheets/css/style.css">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link href="stylesheets/css/bootstrap.min.css" rel="stylesheet">
  <link href="stylesheets/css/mdb.min.css" rel="stylesheet">
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <link rel="stylesheet" href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,700">
        <link rel="stylesheet" href="stylesheets/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="stylesheets/css/animate.css">
        <link rel="stylesheet" href="stylesheets/css/media-queries.css">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" type="text/css" href="stylesheets/css/switcher.css" media="screen" />
        <link rel="stylesheet" href="stylesheets/css/fractionslider.css"/>
        <link rel="stylesheet" href="stylesheets/css/style-fraction.css"/>
</head>
<body>
   <div style="visibility: visibles;" id="visible">
    <nav class="">
      <center class=" fixed-top sam wow pulse" data-wow-duration="3s" data-wow-iteration="1000"> <br>
        <h5 class="font-weight-bold edit-samdos">Samdos Express Technology</h5>
        <h6 style="font-size: 10px;" class="blue-text h4-responsive">Electronic Past Questions and Answers</h6>
        <h6><a href="/" class="white-text blue p-2">Go Home</a></h6>
      </center>
    </nav>

    <main style="margin-top: 120px;">

          <div class="continue">
                      <h6 class="red p-4 white-text">To continue, kindly provide the pin below</h6>

                      <div class="alert alert-danger my-3 disable-div text-center " id="danger" role="alert">
                        <p id="print-error" style="text-align: center;"></p>
                        </div>
                    <center class="mb-5">
                          <label for="label" class="h4">Enter CSC340A Pin Here</label><br>
                          <input type="number" maxlength="8" name="pin-name" id="userPin" class="p-3"><br>
                          <button type="button" value="Proceed" class="btn p-3 mt-3 purple white-text" style="font-size: 15px;" onclick="getPinCss340a()">Proceed</button><br>
                          <button type="button" class="btn btn-outline-success read-button" id="readButton" data-toggle="modal" data-target="#centralModallg">
                              <h3 class="mt-2">Read Now</h3>
                          </button>
                    </center>

                    <div class="accordion" id="accordionExample">
                       <h5 class="text-center"> Don't have a Pin? <a href="" data-toggle="collapse" data-target="#collapseOne"
                        aria-expanded="false" aria-controls="collapseOne" >Get it Here...</a></h5>

                       <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                          <div class="card-body">
                            <p>
                              To get your pin which will last for 48hrs, a fee of $0.27 (#100) is issued.
                              <ol>
                                <li> <p>Payment can be made through Recharge Vouchers (MTN, AIRTEL), to the Mobile Numbers Below</p> </li>
                                <li><p>+234-817-385-606-4 (SMS only)</p></li>
                                <li><p class="red-text">Sample: <br> Samdos Past Question <br> GET XXX-YYY-Z PIN e.g. CSC320A PIN<br> 1234-5678-9123-4567 <br> Send to +234-817-385-606-4</p></li>
                                <li><p>You will receive an SMS/EMAIL of your pin after 15mins at most of Verification</p></li>
                                <li><p>Note that the Pin expires after certain Number of Input before the exceeding Time. Maximum time is 48hrs</p></li>
                              </ol>
                            </p>
                            <p>Best Regards,<br>From <br>
                              Asst. CEO, Samdos Express Technology <br> Olabayo Segun Emmanuel
                            </p>
                          </div>
                        </div>
                    </div>
                  </div>
              </div>
      </main>
   </div>

<!-- ========================================================= visible ================================= -->


<div class="modal fade" id="centralModallg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fluid" role="document">
    <div class="modal-content">
      <div class="modal-header black">
        <h1 class="modal-title  my-4 font-weight-bold white-text mx-auto" id="exampleModalLabel">SAMDOS EXPRESS TECHNOLOGY</h1>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class="white-text h1" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="bk-design">
          <main class="container">
            <div style="margin-top: 50px;"></div>
            <div class="document-page container">
              <div>
                <center class="my-5">
                  <h5 class="font-weight-bold">Social and Professional Issues In Information Technology <br> CSC 340 2016/2017</h5>
                  <h5>QUESTION 3</h5>
                </center>
              </div>

              <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">
                    <div class="card">
                      <div class="card-header" role="tab" id="headingOne1">
                        <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
                          aria-controls="collapseOne1">
                          <h5 class="mb-0"> Question 3a <i class="fa fa-angle-down rotate-icon"></i></h5></a>
                          <p>Briefly discuss each of the following (I) Information Overload (ii) Information Quality (iii) Digital Divide (iv) Information Anxiety</p>

                      </div>
                      <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1" data-parent="#accordionEx">
                        <div class="card-body">
                                <p align="justify">
                                 <b> Information Overload:</b> is a solution in which you receive too much information at one time and cannot think about it in a clear way. It is the stress induced by reception of more information than is necessary to make a decision and by attempts to deals with it with outdated time management practices.
                                </p>
                                <p align="justify">
                                 <b> Information Quality:</b> Is the quality of the content of information systems. It is often defined as : The fitness for use of the information provided. It is subjective measures of utility objectively and integrity of gathered information.
                                </p>
                                <p align="justify">
                                 <b> Digital Divide:</b> Is a term that refers to the gap between demographics and region that have access to modern information and communication technology, and those that don’t or have restricted access. This technology can include the telephone, television, personal computer and the internet
                                </p>
                                <p align="justify">
                                 <b> Information Anxiety:</b> A product reflecting too much information as too little information, It refers to the stress caused by the inability to access or understand the needed information , It is caused by information overload, lack of clear organization to information, insufficient information, excessively difficult presentation of information and so forth.
                                </p>
                        </div>
                      </div>
                    </div>

                    <div class="card">
                      <div class="card-header" role="tab" id="headingTwo2">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo2"
                          aria-expanded="false" aria-controls="collapseTwo2">
                          <h5 class="mb-0"> Question 3b <i class="fa fa-angle-down rotate-icon"></i></h5> </a>
                          <p>State each of the following <br>
                            i. principle of personal benefit <br>
                            ii. principle of social benefit <br>
                            iii. principle of benevolence <br>
                            iv. principle of paternalism <br>
                            v. principle of autonomy <br>
                            vi. principle of justice</p>

                      </div>
                      <div id="collapseTwo2" class="collapse" role="tabpanel" aria-labelledby="headingTwo2" data-parent="#accordionEx">
                        <div class="card-body">
                                <p align="justify">
                                  <b>The principle of personal ethics:</b> is the concern and respect for the autonomy of others. Honesty and the willingness to comply with the law. Fairness and the ability not to take undue advantage of others
                                </p>
                                <p align="justify">
                                 <b> The principle of social benefits:</b> is the ttal benefit to society from producing or consuming a good/service. Social benefits include all the private benefits plus any external benefit of production/consumption
                                </p>
                                <p align="justify">
                                 <b> The principle of benevolence:</b> refers to a normative statement of moral obligation to act for the other’s benefit, helping them to further their important and legitimate interests, often by preventing or removing people harm
                                </p>
                                <p align="justify">
                                 <b> The principle of paternalism: </b> is the interference with the liberty or autonomy of another person, with the intent of promoting good or preventing harm to that person. Examples of paternalism in everyday life are laws which require seat belts, wearing helmets while riding a motorcycle, and banning certain drugs
                                </p>
                                <p align="justify">
                                 <b> The principle of autonomy:</b> state that people should be educated and be able to make decision regarding what happen to them without being influence. This simply means that all aspect of the decision should be presented to someone to allow them to make an education decision
                                </p>
                                <p align="justify">
                                 <b> The principle of Justice:</b> is described as the moral Obligation to act on the basic of fair adjudication between competing claims. As such, it is linked to fairness, entitlement and equality.
                                </p>
                        </div>
                      </div>
                    </div>

                  </div>


                  <!-- ==============================question 2 ==================================== -->
               <div>
                    <center class="my-5">
                      <h5>QUESTION 2</h5>
                    </center>
                  </div>

                  <div class="accordion md-accordion" id="accordionEx1" role="tablist" aria-multiselectable="true">
                      <div class="card">
                              <div class="card-header" role="tab" id="headingTwo7">
                                  <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx1" href="#collapseTwo7"
                                  aria-expanded="false" aria-controls="collapseTwo7">
                                  <h5 class="mb-0"> Question 2a <i class="fa fa-angle-down rotate-icon"></i></h5></a>
                                  <p>What is Telecommuting</p>

                              </div>
                              <div id="collapseTwo7" class="collapse" role="tabpanel" aria-labelledby="headingTwo7" data-parent="#accordionEx1">
                                  <div class="card-body">
                                          <p align="justify">
                                           <b> Telecommuting:</b> Is a work arrangement in which the employee works outside the office, often working from home or a location close to home including coffee shops, libraries, and various other venues
                                          </p>
                                  </div>
                              </div>
                              </div>

                      <div class="card">
                        <div class="card-header" role="tab" id="headingTwo8">
                          <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx1" href="#collapseTwo8"
                            aria-expanded="false" aria-controls="collapseTwo8">
                            <h5 class="mb-0"> Question 2b <i class="fa fa-angle-down rotate-icon"></i></h5> </a>
                            <p>State five ways in which telecommuting has benefited each of the following (I) Individual (b) Organization (c) Community and Society</p>

                        </div>
                        <div id="collapseTwo8" class="collapse" role="tabpanel" aria-labelledby="headingTwo8" data-parent="#accordionEx1">
                          <div class="card-body">
                                  <p align="justify">
                                    <b>Individual:</b> <br>
                                    i. It reduces or eliminate travel related time or expenses <br>
                                    ii. It improve health by reducing stress <br>
                                    iii. it allows closeness with family, relatives and community <br>
                                    iv. It decrease involvement in office politics <br>
                                    v. It increase productivity despite distributions
                                   </p>
                                   <p>
                                   <b> Organization:</b> <br>
                                    i. Reduces office space needed <br>
                                    ii. Increase Labor pool and competitive advantage in recruitment <br>
                                    iii. It decrease employer turn-over and sick leave <br>
                                    iv. It decreases absentism <br>
                                    v. it improve job satisfaction and productivity
                                   </p>

                                   <p>
                                    <b>Community and Society:</b> <br>
                                    i. It conserves energy <br>
                                    ii. It lessen dependence on foreign oil <br>
                                    iii. it reduces traffic related, congestion and pollution <br>
                                    iv. It reduces traffic accident and injuries and death <br>
                                    v. It allow the movement of job opportunity <br>
                                    vi. It reduces the Incidence of destructed families
                                   </p>
                          </div>
                        </div>
                      </div>

                      <div class="card">
                        <div class="card-header" role="tab" id="headingThree9">
                          <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx1" href="#collapseThree9"
                            aria-expanded="false" aria-controls="collapseThree9">
                            <h5 class="mb-0"> Question 2c <i class="fa fa-angle-down rotate-icon"></i></h5> </a>
                            <p>Why does a copyright provide better protection for object code than for source code?</p>

                        </div>
                        <div id="collapseThree9" class="collapse" role="tabpanel" aria-labelledby="headingThree9" data-parent="#accordionEx1">
                          <div class="card-body">
                                  <p align="justify">
                                    <b>Copyright:</b> provide better protection for object code than for source code because <br>
                                    i. It gives sole right to Object code to produce and reproduce of the piece of the source code <br>
                                    ii. It deterring the third parties from infringing the object code <br>
                                    iii. Object code provides more legal power to the owner gives an upper hand in the court
                                    </p>
                          </div>
                        </div>
                      </div>


                    </div>

                    <center>
                        <button type="button" class="btn btn-outline-purple p-4 my-5" onclick="window.location.href='/csc340c'" style="font-size: 15px;">NEXT PAGE</button>
                    </center>
                  </div> <br>
            </div>
          </main>
    <br>


        </div>



      </div>
    </div>
  </div>
</div>
<!-- ================================================== ends here ============================================== -->

<footer class="my-5 white p-5 mx-auto d-flex align-item-center justify-content-center col-10 rounded">
  <center>
    <a href="/terms" class="black-text"><h6 class="font-weight-bold">See Terms and Conditions</h6></a>
      <h6 style="font-size:11px;" class="blue-text font-weight-bold">© Copyright 2019<a href="http://samdos.herokuapp.com" class="red-text"> - 1.2v Sheygun Technology <br>All Right Reserved</a></h6>
  </center>
  </footer>
</body>








 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
 <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
   <script type="text/javascript" src="stylesheets/js/jquery-3.3.1.min.js"></script>
   <script type="text/javascript" src="stylesheets/js/popper.min.js"></script>
   <script type="text/javascript" src="stylesheets/js/bootstrap.min.js"></script>
   <script type="text/javascript" src="stylesheets/js/mdb.min.js"></script>
   <script src="stylesheets/js/jquery-1.11.1.min.js"></script>
         <script src="stylesheets/bootstrap/js/bootstrap.min.js"></script>
         <script src="stylesheets/js/jquery.backstretch.min.js"></script>
         <script src="stylesheets/js/wow.min.js"></script>
         <script src="stylesheets/js/retina-1.1.0.min.js"></script>
         <script src="stylesheets/js/scripts.js"></script>
         <script type="text/javascript" src="stylesheets/js/jquery.cookie.js"></script>
 <script type="text/javascript" src="stylesheets/js/styleswitch.js"></script>
 <script src="stylesheets/js/jquery.fractionslider.js" type="text/javascript" charset="utf-8"></script>
 <script type="text/javascript" src="stylesheets/js/jquery.smartmenus.min.js"></script>
 <script type="text/javascript" src="stylesheets/js/jquery.mapin.js"></script>
 <script type="text/javascript" src="stylesheets/js/jquery.smartmenus.bootstrap.min.js"></script>
 <script type="text/javascript" src="stylesheets/js/owl.carousel.min.js"></script>
 <script type="text/javascript" src="stylesheets/js/jflickrfeed.js"></script>
 <script type="text/javascript" src="stylesheets/js/jquery.magnific-popup.min.js"></script>
 <script type="text/javascript" src="stylesheets/js/jquery.isotope.min.js"></script>
 <script type="text/javascript" src="stylesheets/js/jquery.easypiechart.min.js"></script>
 <script type="text/javascript" src="stylesheets/js/swipe.js"></script>
 <script type="text/javascript" src="stylesheets/js/jquery-scrolltofixed-min.js"></script>
 <script type="text/javascript" src="stylesheets/js/jquery.matchHeight-min.js"></script>
 <script src="stylesheets/js/SmoothScroll.min.js" type="text/javacript"></script>
 <script src="stylesheets/js/main.js"></script>
 <script>
  new WOW().init();
</script>
</html>