<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Samdos Express Technology</title>
  <link rel="stylesheet" href="./stylesheets/css/style.css">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link href="stylesheets/css/bootstrap.min.css" rel="stylesheet">
  <link href="stylesheets/css/mdb.min.css" rel="stylesheet">
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <link rel="stylesheet" href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,700">
        <link rel="stylesheet" href="stylesheets/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="stylesheets/css/animate.css">
        <link rel="stylesheet" href="stylesheets/css/media-queries.css">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" type="text/css" href="stylesheets/css/switcher.css" media="screen" />
        <link rel="stylesheet" href="stylesheets/css/fractionslider.css"/>
        <link rel="stylesheet" href="stylesheets/css/style-fraction.css"/>
</head>
<body>
   <div style="visibility: visibles;" id="visible">
    <nav class="">
      <center class=" fixed-top sam wow pulse" data-wow-duration="3s" data-wow-iteration="1000"> <br>
        <h5 class="font-weight-bold edit-samdos">Samdos Express Technology</h5>
        <h6 style="font-size: 10px;" class="blue-text h4-responsive">Electronic Past Questions and Answers</h6>
        <h6><a href="/" class="white-text blue p-2">Go Home</a></h6>
      </center>
    </nav>

    <main style="margin-top: 120px;">

          <div class="continue">
                      <h6 class="red p-4 white-text">To continue, kindly provide the pin below</h6>

                      <div class="alert alert-danger my-3 disable-div text-center " id="danger" role="alert">
                        <p id="print-error" style="text-align: center;"></p>
                        </div>
                    <center class="mb-5">
                          <label for="label" class="h5">Enter CSC326B Pin Here</label><br>
                          <input type="number" maxlength="8" name="pin-name" id="userPin" class="p-3"><br>
                          <button type="button" value="Proceed" class="btn p-3 mt-3 purple white-text" style="font-size: 15px;" onclick="getPinCss326b()">Proceed</button><br>
                          <button type="button" class="btn btn-outline-success read-button" id="readButton" data-toggle="modal" data-target="#centralModallg">
                              <h3 class="mt-2">Read Now</h3>
                          </button>
                    </center>

                    <div class="accordion" id="accordionExample">
                       <h5 class="text-center"> Don't have a Pin? <a href="" data-toggle="collapse" data-target="#collapseOne"
                        aria-expanded="false" aria-controls="collapseOne" >Get it Here...</a></h5>

                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                          <div class="card-body">
                            <p>
                              To get your pin which will last for 48hrs, a fee of $0.27 (#100) is issued.
                              <ol>
                                <li> <p>Payment can be made through Recharge Vouchers (MTN, AIRTEL), to the Mobile Numbers Below</p> </li>
                                <li><p>+234-817-385-606-4 (SMS only)</p></li>
                                <li><p class="red-text">Sample: <br> Samdos Past Question <br> GET XXX-YYY-Z PIN e.g. CSC320B PIN<br> 1234-5678-9123-4567 <br> Send to +234-817-385-606-4</p></li>
                                <li><p>You will receive an SMS/EMAIL of your pin after 15mins at most of Verification</p></li>
                                <li><p>Note that the Pin expires after certain Number of Input before the exceeding Time. Maximum time is 48hrs</p></li>
                              </ol>
                            </p>
                            <p>Best Regards,<br>From <br>
                              Asst. CEO, Samdos Express Technology <br> Olabayo Segun Emmanuel
                            </p>
                          </div>
                        </div>

                    </div>
                  </div>
              </div>
      </main>
   </div>

<!-- ========================================================= visible ================================= -->


<div class="modal fade" id="centralModallg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

  <!-- Change class .modal-sm to change the size of the modal -->
  <div class="modal-dialog modal-fluid" role="document">


    <div class="modal-content">
      <div class="modal-header black">
        <h1 class="modal-title  my-4 font-weight-bold white-text mx-auto" id="exampleModalLabel">SAMDOS EXPRESS TECHNOLOGY</h1>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class="white-text h1" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="bk-design">

          <main class="container">
            <div style="margin-top: 50px;"></div>
            <div class="document-page container">

              <div>
                  <center class="my-5">
                    <h4 class="font-weight-bold">Operating System II <br> CSC 326 2016/2017</h4>
                  <h5>QUESTION 2</h5>
                  </center>
                </div>

                <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">
                  <div class="card">
                    <div class="card-header" role="tab" id="headingOne1">
                      <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
                        aria-controls="collapseOne1">
                        <h5 class="mb-0"> Question 2a <i class="fa fa-angle-down rotate-icon"></i></h5></a>
                        <button type="button" class="mt-3 btn btn-outline-primary waves-effect" data-toggle="modal" data-target="#basicExampleModal"><span class="h5">See Question</span></button>

                    </div>
                    <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1" data-parent="#accordionEx">
                      <div class="card-body">
                          <p>
                            Use the “rm” command to remove file <br>
                                “rm firstfile Secondfile” for more than one file <br>
                                “rm: remove Firstfile (y/n)? y” for prompt answer <br>
                                “rm: remove Secondfile (y/n)? n” <br>
                          </p>


                      </div>
                    </div>
                  </div>

                  <div class="card">
                    <div class="card-header" role="tab" id="headingTwo2">
                      <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo2"
                        aria-expanded="false" aria-controls="collapseTwo2">
                        <h5 class="mb-0"> Question 2b <i class="fa fa-angle-down rotate-icon"></i></h5> </a>
                        <button type="button" class="mt-3 btn btn-outline-primary waves-effect" data-toggle="modal" data-target="#basicExampleModal"><span class="h5">See Question</span></button>


                    </div>
                    <div id="collapseTwo2" class="collapse" role="tabpanel" aria-labelledby="headingTwo2" data-parent="#accordionEx">
                      <div class="card-body">




                      </div>
                    </div>
                  </div>

                </div>


                 <!-- ==============================question 1 ==================================== -->
               <div>
                <center class="my-5">
                  <h5>QUESTION 1</h5>
                </center>
              </div>

              <div class="accordion md-accordion" id="accordionEx1" role="tablist" aria-multiselectable="true">
                  <div class="card">
                          <div class="card-header" role="tab" id="headingTwo7">
                              <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx1" href="#collapseTwo7"
                              aria-expanded="false" aria-controls="collapseTwo7">
                              <h5 class="mb-0"> Question 1a <i class="fa fa-angle-down rotate-icon"></i></h5></a>
                              <button type="button" class="mt-3 btn btn-outline-primary waves-effect" data-toggle="modal" data-target="#basicExampleModal"><span class="h5">See Question</span></button>

                          </div>
                          <div id="collapseTwo7" class="collapse" role="tabpanel" aria-labelledby="headingTwo7" data-parent="#accordionEx1">
                              <div class="card-body">
                                <p align="justify">
                                  i.	The operating system as an <b>Extended Machine</b>, The architecture (Instruction set, memory organization, I/O, and bus structure) of most computers at the machine language level is primitive and awkward to program especially for input/output.
                                </p>
                                <p align="justify">
                                  ii.	<b>Resources management:</b> refers to technologies for managing resources (computer with limit availability) resources manager is a process that registers a name in the file system name space. Other process uses the path to communicate with the resources manager. They are responsible for presenting an interface to various type of device. This may involve managing actual hardware device like serial port, parallel port, network card etc
                                </p>
                              </div>
                          </div>
                          </div>

                  <div class="card">
                    <div class="card-header" role="tab" id="headingTwo8">
                      <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx1" href="#collapseTwo8"
                        aria-expanded="false" aria-controls="collapseTwo8">
                        <h5 class="mb-0"> Question 1b <i class="fa fa-angle-down rotate-icon"></i></h5> </a>
                        <button type="button" class="mt-3 btn btn-outline-primary waves-effect" data-toggle="modal" data-target="#basicExampleModal"><span class="h5">See Question</span></button>

                    </div>
                    <div id="collapseTwo8" class="collapse" role="tabpanel" aria-labelledby="headingTwo8" data-parent="#accordionEx1">
                      <div class="card-body">

                        <p align="justify">
                          <b>Files</b> are an abstraction mechanism. A file consists of data on disk. Can regard this data as a sequence of byte <br>
                            They are three kinds of files: <br>
                            <b>Byte Sequence:</b> It is an unstructured sequence of bytes. In effect, the operating system does not know or care what is in the file. All it sees are the byte <br>
                           <b> Record sequence:</b> A file is a sequence of fixed length records each with some internal structure. Control to the idea of a file being a sequence of records in the idea that the read operation returns one record and the write operation overwrite or appends one record. <br>
                            <b>Tree sequence:</b> A file consist of a tree of records, not necessarily all the same length, each containing a key field in a fixed position in the record. The tree is sorted on the key field, to allow rapid searching for a particular key. <br>
                        </p>

                      </div>
                    </div>
                  </div>

                  <div class="card">
                    <div class="card-header" role="tab" id="headingThree9">
                      <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx1" href="#collapseThree9"
                        aria-expanded="false" aria-controls="collapseThree9">
                        <h5 class="mb-0"> Question 1c <i class="fa fa-angle-down rotate-icon"></i></h5> </a>
                        <button type="button" class="mt-3 btn btn-outline-primary waves-effect" data-toggle="modal" data-target="#basicExampleModal"><span class="h5">See Question</span></button>


                    </div>
                    <div id="collapseThree9" class="collapse" role="tabpanel" aria-labelledby="headingThree9" data-parent="#accordionEx1">
                      <div class="card-body">

                        <p align="justify">
                         <b> Sequential access:</b> In Computer Science, means that a group of element (such as data in a memory array or a disk file or on magnetic tape data storage) is accessed in a predetermined, ordered sequence. It is sometimes the only way of accessing the data, for example if it is on a tape <br>
                           <b> Random access file:</b> means that you are not accessing the file in the order it was written but instead are skipping around inside the file. <br>
                          Differences between Sequential and Random Access <br>
                          <b>Sequential access</b> <br>
                          Step by step in accessing file <br>
                          Read and write information to file sequentially <br>
                          <b>Random Access</b> <br>
                          It access file randomly <br>
                          Read and write information anywhere in the data file <br>
                        </p>

                      </div>
                    </div>
                  </div>

                  <div class="card">
                    <div class="card-header" role="tab" id="headingThree90">
                      <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx1" href="#collapseThree90"
                        aria-expanded="false" aria-controls="collapseThree90">
                        <h5 class="mb-0"> Question 1d <i class="fa fa-angle-down rotate-icon"></i></h5> </a>
                        <button type="button" class="mt-3 btn btn-outline-primary waves-effect" data-toggle="modal" data-target="#basicExampleModal"><span class="h5">See Question</span></button>


                    </div>
                    <div id="collapseThree90" class="collapse" role="tabpanel" aria-labelledby="headingThree90" data-parent="#accordionEx1">
                      <div class="card-body">
                        <p align="justify">
                          List of some common file operation: <br>
                          File CREATE operation <br>
                          File DELETE operation <br>
                          File OPEN operation <br>
                          File CLOSE operation <br>
                          File READ operation <br>
                          File WRITE operation <br>
                          File APPEND operation <br>
                          File SEEK operation <br>
                          File GET ATTRIBUTE operation <br>
                          File SET ATTRIBUTE operation <br>
                          File RENAME operation <br>
                        </p>


                      </div>
                    </div>
                  </div>

                  <div class="card">
                    <div class="card-header" role="tab" id="headingThree91">
                      <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx1" href="#collapseThree91"
                        aria-expanded="false" aria-controls="collapseThree91">
                        <h5 class="mb-0"> Question 1e <i class="fa fa-angle-down rotate-icon"></i></h5> </a>
                        <button type="button" class="mt-3 btn btn-outline-primary waves-effect" data-toggle="modal" data-target="#basicExampleModal"><span class="h5">See Question</span></button>


                    </div>
                    <div id="collapseThree91" class="collapse" role="tabpanel" aria-labelledby="headingThree91" data-parent="#accordionEx1">
                      <div class="card-body">

                        <p align="justify">
                          <b>Absolute Pathname:</b> is the location of a file system object (i.e. File, directory or Link) relative to the root directory <br>
                          Example in <br>
                          http://www.samdos.herokuapp.com/timetable.html <br>
                          the http://www.samdos.herokuapp.com is the absolute pathname <br>
                          <b> Relative path name</b> is a way to specify the location of a directory relative to another directory e.g. timetable.html <br>
                        </p>

                      </div>
                    </div>
                  </div>

                  <div class="card">
                    <div class="card-header" role="tab" id="headingThree92">
                      <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx1" href="#collapseThree92"
                        aria-expanded="false" aria-controls="collapseThree92">
                        <h5 class="mb-0"> Question 1f <i class="fa fa-angle-down rotate-icon"></i></h5> </a>
                        <button type="button" class="mt-3 btn btn-outline-primary waves-effect" data-toggle="modal" data-target="#basicExampleModal"><span class="h5">See Question</span></button>


                    </div>
                    <div id="collapseThree92" class="collapse" role="tabpanel" aria-labelledby="headingThree92" data-parent="#accordionEx1">
                      <div class="card-body">
                        <p align="justify">
                          i.	<b>Master Boot Record(MBR)</b> is the information in the first section of any hard disk or diskette that identifies how and where an operating system is located so that it can be boot (loaded) into the computer’s main storage or random access memory. <br>
                          ii.	<b>Partition Table:</b> is a 64 byte data structure that provides basic information for a computer’s operating system about the division of the hard disk drive (HDD) into primary partitions. A data structure is an efficient way of organizing data. <br>
                          iii.	<b>Super block</b> is a record of the characteristics of a file system, including it size, the block size the empty and the filled blocks and their respective counts, the size and location of the inode tables the disk block map and usage information and the size of the block group. <br>
                          iv.	<b>A magic number</b> is a number embedded at or near the beginning of a file that indicates its file format (i.e. the type of files it is). It is also sometimes referred to as a file signature <br>
                        </p>


                      </div>
                    </div>
                  </div>


                </div>


                <center class="my-5">
                  <p class="text-center red-text">Thanks for taking your time in viewing this website. We at SAMDOS EXPRESS wishes you success in your examinations. Please note, All answers are not guaranteed the absolute answer to the questions. We employ you to make more research on them for quality sake</p>
                  <p class="text-center red-text">Best Regards, <br> Asst CEO SAMDOS EXPRESS TECHNOLOGY <br> Olabayo Segun Emmanuel</p>
                </center>

                <div>
                  <center>
                   <a href="/"><button type="button" class="btn btn-outline-purple p-4 mb-5" style="font-size: 15px;">GO HOME</button></a>
                  </center>
                </div>
            </div>
          </main>
    <br>


        </div>



      </div>
    </div> <br>
  </div>
</div>



<div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fluid" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Samdos Express Technology</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-auto align-item-center justify-content-center d-flex">
        <img src="stylesheets/images/pq/IMG-20190312-WA0000.jpg" class="img-fluid display-pq" style="height: 600px;" alt="Question Image" srcset="">
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
<!-- ================================================== ends here ============================================== -->

<footer class="my-5 white p-5 mx-auto d-flex align-item-center justify-content-center col-10 rounded">
  <center>
    <a href="/terms" class="black-text"><h6 class="font-weight-bold">See Terms and Conditions</h6></a>
      <h6 style="font-size:11px;" class="blue-text font-weight-bold">© Copyright 2019<a href="http://samdos.herokuapp.com" class="red-text"> - 1.2v Sheygun Technology <br>All Right Reserved</a></h6>
  </center>
  </footer>
</body>








 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
 <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
   <script type="text/javascript" src="stylesheets/js/jquery-3.3.1.min.js"></script>
   <script type="text/javascript" src="stylesheets/js/popper.min.js"></script>
   <script type="text/javascript" src="stylesheets/js/bootstrap.min.js"></script>
   <script type="text/javascript" src="stylesheets/js/mdb.min.js"></script>
   <script src="stylesheets/js/jquery-1.11.1.min.js"></script>
         <script src="stylesheets/bootstrap/js/bootstrap.min.js"></script>
         <script src="stylesheets/js/jquery.backstretch.min.js"></script>
         <script src="stylesheets/js/wow.min.js"></script>
         <script src="stylesheets/js/retina-1.1.0.min.js"></script>
         <script src="stylesheets/js/scripts.js"></script>
         <script type="text/javascript" src="stylesheets/js/jquery.cookie.js"></script>
 <script type="text/javascript" src="stylesheets/js/styleswitch.js"></script>
 <script src="stylesheets/js/jquery.fractionslider.js" type="text/javascript" charset="utf-8"></script>
 <script type="text/javascript" src="stylesheets/js/jquery.smartmenus.min.js"></script>
 <script type="text/javascript" src="stylesheets/js/jquery.smartmenus.bootstrap.min.js"></script>
 <script type="text/javascript" src="stylesheets/js/owl.carousel.min.js"></script>
 <script type="text/javascript" src="stylesheets/js/jquery.mapin.js"></script>
 <script type="text/javascript" src="stylesheets/js/jflickrfeed.js"></script>
 <script type="text/javascript" src="stylesheets/js/jquery.magnific-popup.min.js"></script>
 <script type="text/javascript" src="stylesheets/js/jquery.isotope.min.js"></script>
 <script type="text/javascript" src="stylesheets/js/jquery.easypiechart.min.js"></script>
 <script type="text/javascript" src="stylesheets/js/swipe.js"></script>
 <script type="text/javascript" src="stylesheets/js/jquery-scrolltofixed-min.js"></script>
 <script type="text/javascript" src="stylesheets/js/jquery.matchHeight-min.js"></script>
 <script src="stylesheets/js/SmoothScroll.min.js" type="text/javacript"></script>
 <script src="stylesheets/js/main.js"></script>
 <script>
  new WOW().init();
</script>
</html>