<footer class="my-2 py-2 mx-auto d-flex align-item-center justify-content-center col-10 rounded">
    <center>
      <!-- <a href="/terms" class="white-text"><h6 class="font-weight-bold my-2">See Terms and Conditions</h6></a> -->
        <h6 style="font-size:10px;" class="blue-text font-weight-bold">© Copyright 2019<a href="http://samdos.herokuapp.com" class="red-text" style="font-size:10px;"> - 1.2v Sheygun Technology. All Right Reserved</a></h6>
    </center>
</footer>