<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Samdos Express Technology</title>
    <link rel="shortcut icon" href="/stylesheets/images/logos.png" type="image/x-icon">
    <meta name="description" content="">
    <meta name="author" content="Sheygun">
    <meta name = "theme-color" content="black">
    <meta name = "msapplication-navbutton-color" content="black">
    <meta name = "apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="/stylesheets/css/style.css">
    <link href="/stylesheets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/css/mdb.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/css/animate.css">
    <link rel="stylesheet" href="/stylesheets/css/media-queries.css">
    </head>