<nav>
        <center class=" fixed-top sam"> <br>
          <h1 class="display-4 font-weight-bold edit-samdos">Samdos Express Technology</h1>
          <h1 class="blue-text">Electronic Past Questions and Answers</h1>
        </center>
      </nav>