<nav class="">
  <center class=" fixed-top sam wow pulse" data-wow-duration="3s" data-wow-iteration="1000"> <br>
    <h5 class="font-weight-bold edit-samdos">Samdos Express Technology</h5>
    <h6 style="font-size: 10px;" class="blue-text h4-responsive">Electronic Past Questions and Answers</h6>
  </center>
</nav>