<nav>
        <center class=" fixed-top sam"> <br>
          <h1 class="font-weight-bold edit-samdos">Samdos Express Technology</h1>
          <h4 class="blue-text h4-responsive">Electronic Past Questions and Answers</h4>
        </center>
      </nav>