<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Samdos Express Technology</title>
  <link rel="stylesheet" href="./stylesheets/css/style.css">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link href="stylesheets/css/bootstrap.min.css" rel="stylesheet">
  <link href="stylesheets/css/mdb.min.css" rel="stylesheet">
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <link rel="stylesheet" href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,700">
        <link rel="stylesheet" href="stylesheets/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="stylesheets/css/animate.css">
        <link rel="stylesheet" href="stylesheets/css/media-queries.css">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" type="text/css" href="stylesheets/css/switcher.css" media="screen" />
        <link rel="stylesheet" href="stylesheets/css/fractionslider.css"/>
        <link rel="stylesheet" href="stylesheets/css/style-fraction.css"/>
</head>
<body>
   <div style="visibility: visibles;" id="visible">
    <nav class="">
      <center class=" fixed-top sam wow pulse" data-wow-duration="3s" data-wow-iteration="100"> <br>
        <h3 class="font-weight-bold edit-samdos">Samdos Express Technology</h3>
        <h4 class="blue-text h4-responsive mb-4">Electronic Past Questions and Answers</h4>
        <h4><a href="/" class="white-text blue p-3 my-5">Go Home</a></h4> <br>
      </center>
    </nav>

    <main style="margin-top: 150px;">

          <div class="continue">
                      <h3 class="red p-4 white-text">To continue, kindly provide the pin below</h3>

                      <div class="alert alert-danger my-3 disable-div text-center " id="danger" role="alert">
                        <p id="print-error" style="text-align: center;"></p>
                        </div>
                    <center class="mb-5">
                          <label for="label" class="h2">Enter CSC340A Pin Here</label><br>
                          <input type="number" maxlength="8" name="pin-name" id="userPin" class="p-3"><br>
                          <button type="button" value="Proceed" class="btn p-3 mt-3 purple white-text" style="font-size: 15px;" onclick="getPinCss340a()">Proceed</button><br>
                          <button type="button" class="btn btn-outline-success read-button" id="readButton" data-toggle="modal" data-target="#centralModallg">
                              <h3 class="mt-2">Read Now</h3>
                          </button>
                    </center>

                    <div class="accordion" id="accordionExample">
                       <h2 class="text-center"> Don't have a Pin? <a href="" data-toggle="collapse" data-target="#collapseOne"
                        aria-expanded="false" aria-controls="collapseOne" >Get it Here...</a></h2>

                       <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                          <div class="card-body">
                            <p>
                              To get your pin which will last for 48hrs, a fee of $0.27 (#100) is issued.
                              <ol>
                                <li> <p>Payment can be made through Recharge Vouchers (MTN, AIRTEL), to the Mobile Numbers Below</p> </li>
                                <li><p>+234-817-385-606-4 (SMS only)</p></li>
                                <li><p class="red-text">Sample: <br> Samdos Past Question <br> GET XXX-YYY-Z PIN e.g. CSC320A PIN<br> 1234-5678-9123-4567 <br> Send to +234-817-385-606-4</p></li>
                                <li><p>You will receive an SMS/EMAIL of your pin after 15mins at most of Verification</p></li>
                                <li><p>Note that the Pin expires after certain Number of Input before the exceeding Time. Maximum time is 48hrs</p></li>
                              </ol>
                            </p>
                            <p>Best Regards,<br>From <br>
                              Asst. CEO, Samdos Express Technology <br> Olabayo Segun Emmanuel
                            </p>
                          </div>
                        </div>
                    </div>
                  </div>
              </div>
      </main>
   </div>

<!-- ========================================================= visible ================================= -->


<div class="modal fade" id="centralModallg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fluid" role="document">
    <div class="modal-content">
      <div class="modal-header black">
        <h1 class="modal-title  my-4 font-weight-bold white-text mx-auto" id="exampleModalLabel">SAMDOS EXPRESS TECHNOLOGY</h1>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class="white-text h1" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="bk-design">
          <main class="container">
            <div style="margin-top: 50px;"></div>
            <div class="document-page container">
              <div>
                <center class="my-5">
                    <h1 class="">Social and Professional Issues In Information Technology <br> CSC 340 2016/2017</h1>
                  <h1>QUESTION 3</h1>
                </center>
              </div>

              <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">
                    <div class="card">
                      <div class="card-header" role="tab" id="headingOne1">
                        <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
                          aria-controls="collapseOne1">
                          <h2 class="mb-0"> Question 3a <i class="fa fa-angle-down rotate-icon"></i></h2>
                          <p>1 - What is the defination of Computer Science in the world of Technology?</p>
                        </a>
                      </div>
                      <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1" data-parent="#accordionEx">
                        <div class="card-body">
                                <p align="justify">
                                    This document sets out the process and guidelines for applying for Events Sponsorship from the Lagos State Employment Trust Fund (LSETF) under Lagos Innovates. These Application Guidelines should be read in conjunction with information provided on the Lagos Innovates website, including Frequently Asked Questions about the Events Sponsorship program. Please read this information carefully before you fill out your application.
                                 </p>
                        </div>
                      </div>
                    </div>

                    <div class="card">
                      <div class="card-header" role="tab" id="headingTwo2">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo2"
                          aria-expanded="false" aria-controls="collapseTwo2">
                          <h2 class="mb-0"> Question 3b <i class="fa fa-angle-down rotate-icon"></i></h2>
                          <p>1 - What is the defination of Computer Science in the world of Technology?</p>
                        </a>
                      </div>
                      <div id="collapseTwo2" class="collapse" role="tabpanel" aria-labelledby="headingTwo2" data-parent="#accordionEx">
                        <div class="card-body">
                                <p align="justify">
                                    This document sets out the process and guidelines for applying for Events Sponsorship from the Lagos State Employment Trust Fund (LSETF) under Lagos Innovates. These Application Guidelines should be read in conjunction with information provided on the Lagos Innovates website, including Frequently Asked Questions about the Events Sponsorship program. Please read this information carefully before you fill out your application.
                               </p>
                        </div>
                      </div>
                    </div>

                  </div>


                  <!-- ==============================question 2 ==================================== -->
               <div>
                    <center class="my-5">
                      <h1>QUESTION 2</h1>
                    </center>
                  </div>

                  <div class="accordion md-accordion" id="accordionEx1" role="tablist" aria-multiselectable="true">
                      <div class="card">
                              <div class="card-header" role="tab" id="headingTwo7">
                                  <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx1" href="#collapseTwo7"
                                  aria-expanded="false" aria-controls="collapseTwo7">
                                  <h2 class="mb-0"> Question 2a <i class="fa fa-angle-down rotate-icon"></i></h2>
                                  <p>1 - What is the defination of Computer Science in the world of Technology?</p>
                                  </a>
                              </div>
                              <div id="collapseTwo7" class="collapse" role="tabpanel" aria-labelledby="headingTwo7" data-parent="#accordionEx1">
                                  <div class="card-body">
                                          <p align="justify">
                                              This document sets out the process and guidelines for applying for Events Sponsorship from the Lagos State Employment Trust Fund (LSETF) under Lagos Innovates. These Application Guidelines should be read in conjunction with information provided on the Lagos Innovates website, including Frequently Asked Questions about the Events Sponsorship program. Please read this information carefully before you fill out your application.
                                          </p>
                                  </div>
                              </div>
                              </div>

                      <div class="card">
                        <div class="card-header" role="tab" id="headingTwo8">
                          <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx1" href="#collapseTwo8"
                            aria-expanded="false" aria-controls="collapseTwo8">
                            <h2 class="mb-0"> Question 2b <i class="fa fa-angle-down rotate-icon"></i></h2>
                            <p>1 - What is the defination of Computer Science in the world of Technology?</p>
                          </a>
                        </div>
                        <div id="collapseTwo8" class="collapse" role="tabpanel" aria-labelledby="headingTwo8" data-parent="#accordionEx1">
                          <div class="card-body">
                                  <p align="justify">
                                      This document sets out the process and guidelines for applying for Events Sponsorship from the Lagos State Employment Trust Fund (LSETF) under Lagos Innovates. These Application Guidelines should be read in conjunction with information provided on the Lagos Innovates website, including Frequently Asked Questions about the Events Sponsorship program. Please read this information carefully before you fill out your application.
                                 </p>
                          </div>
                        </div>
                      </div>

                      <div class="card">
                        <div class="card-header" role="tab" id="headingThree9">
                          <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx1" href="#collapseThree9"
                            aria-expanded="false" aria-controls="collapseThree9">
                            <h2 class="mb-0"> Question 2c <i class="fa fa-angle-down rotate-icon"></i></h2>
                            <p>1 - What is the defination of Computer Science in the world of Technology?</p>
                          </a>
                        </div>
                        <div id="collapseThree9" class="collapse" role="tabpanel" aria-labelledby="headingThree9" data-parent="#accordionEx1">
                          <div class="card-body">
                                  <p align="justify">
                                      This document sets out the process and guidelines for applying for Events Sponsorship from the Lagos State Employment Trust Fund (LSETF) under Lagos Innovates. These Application Guidelines should be read in conjunction with information provided on the Lagos Innovates website, including Frequently Asked Questions about the Events Sponsorship program. Please read this information carefully before you fill out your application.
                                  </p>
                          </div>
                        </div>
                      </div>


                    </div>

                    <center>
                        <button type="button" class="btn btn-outline-purple p-4 mb-5" onclick="window.location.href='/csc340c'" style="font-size: 15px;">NEXT PAGE</button>
                    </center>
                  </div>
            </div>
          </main>
    <br>


        </div>



      </div>
    </div>
  </div>
</div>
<!-- ================================================== ends here ============================================== -->

  <footer class="my-5">
      <center>
        <a href="/terms" class="black-text"><h5 class="font-weight-bold">Terms and Conditions apply</h5></a>
          <h4 class="blue-text">© Copyright 2019<a href="http://samdos.herokuapp.com" class="red-text"> - 1.2v Sheygun Techonology</a></h4>
      </center>
  </footer>
</body>








 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
 <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
   <script type="text/javascript" src="stylesheets/js/jquery-3.3.1.min.js"></script>
   <script type="text/javascript" src="stylesheets/js/popper.min.js"></script>
   <script type="text/javascript" src="stylesheets/js/bootstrap.min.js"></script>
   <script type="text/javascript" src="stylesheets/js/mdb.min.js"></script>
   <script src="stylesheets/js/jquery-1.11.1.min.js"></script>
         <script src="stylesheets/bootstrap/js/bootstrap.min.js"></script>
         <script src="stylesheets/js/jquery.backstretch.min.js"></script>
         <script src="stylesheets/js/wow.min.js"></script>
         <script src="stylesheets/js/retina-1.1.0.min.js"></script>
         <script src="stylesheets/js/scripts.js"></script>
         <script type="text/javascript" src="stylesheets/js/jquery.cookie.js"></script>
 <script type="text/javascript" src="stylesheets/js/styleswitch.js"></script>
 <script src="stylesheets/js/jquery.fractionslider.js" type="text/javascript" charset="utf-8"></script>
 <script type="text/javascript" src="stylesheets/js/jquery.smartmenus.min.js"></script>
 <script type="text/javascript" src="stylesheets/js/jquery.mapin.js"></script>
 <script type="text/javascript" src="stylesheets/js/jquery.smartmenus.bootstrap.min.js"></script>
 <script type="text/javascript" src="stylesheets/js/owl.carousel.min.js"></script>
 <script type="text/javascript" src="stylesheets/js/jflickrfeed.js"></script>
 <script type="text/javascript" src="stylesheets/js/jquery.magnific-popup.min.js"></script>
 <script type="text/javascript" src="stylesheets/js/jquery.isotope.min.js"></script>
 <script type="text/javascript" src="stylesheets/js/jquery.easypiechart.min.js"></script>
 <script type="text/javascript" src="stylesheets/js/swipe.js"></script>
 <script type="text/javascript" src="stylesheets/js/jquery-scrolltofixed-min.js"></script>
 <script type="text/javascript" src="stylesheets/js/jquery.matchHeight-min.js"></script>
 <script src="stylesheets/js/SmoothScroll.min.js" type="text/javacript"></script>
 <script src="stylesheets/js/main.js"></script>
 <script>
  new WOW().init();
</script>
</html>