<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Samdos Express Technology</title>
  <link rel="stylesheet" href="./stylesheets/css/style.css">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link href="stylesheets/css/bootstrap.min.css" rel="stylesheet">
  <link href="stylesheets/css/mdb.min.css" rel="stylesheet">
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <link rel="stylesheet" href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,700">
        <link rel="stylesheet" href="stylesheets/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="stylesheets/css/animate.css">
        <link rel="stylesheet" href="stylesheets/css/media-queries.css">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" type="text/css" href="stylesheets/css/switcher.css" media="screen" />
        <link rel="stylesheet" href="stylesheets/css/fractionslider.css"/>
        <link rel="stylesheet" href="stylesheets/css/style-fraction.css"/>
</head>
<body class="my-body">
    <nav class="">
        <center class=" fixed-top sam wow pulse" data-wow-duration="3s" data-wow-iteration="1000"> <br>
          <h3 class="font-weight-bold edit-samdos">Samdos Express Technology</h3>
          <h4 class="blue-text h4-responsive mb-4">Electronic Past Questions and Answers</h4>
          <h4><a href="/" class="white-text blue p-2 my-5">Go Home</a></h4> <br>
        </center>
      </nav>

      <main class="container">
        <div style="margin-top: 140px; margin-right: 10px;"></div>
        <div class="document-page container">
            <div>
              <center class="my-5">
                <h1 class="">Functional Programming <br> CSC 322 2018/2019</h1>
                <h1>TEST QUESTIONS</h1>
              </center>
            </div>
            <div class="container">
              <p>1. What are Sequences in Clojure</p>
              <p>2 - What are the differences between First Class Function and High Order Function </p>
              <p>3 - How do you create a new instances in Clojure</p>
              <p>4 - Differentiate between LISP and CLOJURE</p>
              <p>5 - Write a clojure Function (isSumOrProduct coll, x) where coll is a collection of numbers, and x is a number. isSumOrProduct returns true if and only if x is either the sum or the product of the
                  numbers in coll. For example (isSumOrProduct [2 2 3] 7) and (isSumOrProduct [2 3] 6) both return true, while (isSumOrProduct [2 3] 4) returns false.
              </p>
                <h1 class="mt-4">Answer</h1>
                <center class="my-5">
                    <button class="btn btn-outline-primary btn-lg" onclick="alert('Answer is yet to be Uploaded');"><span class="h2 py-5">Click here for Answers</span></button>
                </center>
              <p align="justify">
               </p>


            </div>

          </div>

      </main>

  <footer class="my-5">
      <center>
        <a href="/terms" class="black-text"><h5 class="font-weight-bold">Terms and Conditions apply</h5></a>
          <h4 class="blue-text">© Copyright 2019<a href="http://samdos.herokuapp.com" class="red-text"> 1.1v - Sheygun Technology</a></h4>
      </center>
  </footer>
</body>








 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
 <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
   <script type="text/javascript" src="stylesheets/js/jquery-3.3.1.min.js"></script>
   <script type="text/javascript" src="stylesheets/js/popper.min.js"></script>
   <script type="text/javascript" src="stylesheets/js/bootstrap.min.js"></script>
   <script type="text/javascript" src="stylesheets/js/mdb.min.js"></script>
   <script src="stylesheets/js/jquery-1.11.1.min.js"></script>
         <script src="stylesheets/bootstrap/js/bootstrap.min.js"></script>
         <script src="stylesheets/js/jquery.backstretch.min.js"></script>
         <script src="stylesheets/js/wow.min.js"></script>
         <script src="stylesheets/js/retina-1.1.0.min.js"></script>
         <script src="stylesheets/js/scripts.js"></script>
         <script type="text/javascript" src="stylesheets/js/jquery.cookie.js"></script>
 <script type="text/javascript" src="stylesheets/js/styleswitch.js"></script>
 <script src="stylesheets/js/jquery.fractionslider.js" type="text/javascript" charset="utf-8"></script>
 <script type="text/javascript" src="stylesheets/js/jquery.smartmenus.min.js"></script>
 <script type="text/javascript" src="stylesheets/js/jquery.smartmenus.bootstrap.min.js"></script>
 <script type="text/javascript" src="stylesheets/js/jquery.mapin.js"></script>
 <script type="text/javascript" src="stylesheets/js/owl.carousel.min.js"></script>
 <script type="text/javascript" src="stylesheets/js/jflickrfeed.js"></script>
 <script type="text/javascript" src="stylesheets/js/jquery.magnific-popup.min.js"></script>
 <script type="text/javascript" src="stylesheets/js/jquery.isotope.min.js"></script>
 <script type="text/javascript" src="stylesheets/js/jquery.easypiechart.min.js"></script>
 <script type="text/javascript" src="stylesheets/js/swipe.js"></script>
 <script type="text/javascript" src="stylesheets/js/jquery-scrolltofixed-min.js"></script>
 <script type="text/javascript" src="stylesheets/js/jquery.matchHeight-min.js"></script>
 <script src="stylesheets/js/SmoothScroll.min.js" type="text/javacript"></script>
 <script src="stylesheets/js/main.js"></script>
 <script>
    new WOW().init();
  </script>
</html>